<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PivotValueTypeSummaryTypeSection" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>

	  <add key="DefaultLanguage" value="en"/>
	  <add key="Organization" value="NCDC"/>
	  <add key="Country" value="GG0000"/>
	  <add key="AuthorizeCheckOut" value="True"/>
	  <add key="PreviewMode" value="False"/>
	  <add key="UseDefaultLogin" value="True"/>
	  <add key="DefaultOrganization" value="BVRC1"/>
	  <add key="DefaultUser" value="super"/>
	  <add key="DefaultPassword" value="super"/>
	  <add key="BarcodePrinter" value="Zebra  R2844-Z"/>
	  <add key="DocumentPrinter" value="Xerox Phaser 3450 PCL 6(0000F0ABAE64)"/>
	  <add key="ShowCaptionOnToolbar" value="False"/>
	  <add key="ShowEmptyListOnSearch" value="False"/>
	  <add key="ShowSaveDataPrompt" value="True"/>
	  <add key="ShowDeletePrompt" value="true"/>
	  <add key="SaveOnCancel" value="true"/>
	  <add key="ShowDeleteButtonOnDetailForm" value="true"/>
	  <add key="ShowSaveButtonOnDetailForm" value="true"/>
	  <add key="ShowNewButtonOnDetailForm" value="true"/>
	  <add key="UsePassportInBarcode" value="False"/>
	  <add key="SystemFontName" value="Arial"/>
	  <add key="SystemFontSize" value="8.25"/>
	  <add key="GeorgianSystemFontName" value="Sylfaen"/>
	  <add key="ShowWorkingFormsOnly" value="False"/>
	  <add key="GeorgianSystemFontSize" value="8.25"/>
	  <add key="ShowClearLookupButton" value="True"/>
	  <add key="ShowClearRepositoryLookupButton" value="False"/>
	  <add key="AutoClickDuplicateSearchButton" value="True"/>
	  <add key="ShowNoRecordsMessage" value="True"/>
	  <add key="ShowRecordsFromCurrentSiteForNewCase" value="True"/>
	  <add key="DetailFormType" value="Normal"/>
	  <add key="SQLConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;"/>
	  <add key="SQLUser" value="MVN4akksitVK64gNWlzJ7w=="/>
	  <add key="SQLPassword" value="W/nsgbXLJBBi93z0OXlnsQ=="/>
	  <add key="SQLDatabase" value="eidss_v3_"/>
	  <add key="SQLServer" value="(local)\sqlexpress2"/>
	  <add key="InplaceShowDropDown" value="DoubleClick"/>
	  <add key="ShowDropDown" value="SingleClick"/>
	  <add key="LookupCacheIdleRefreshInterval" value="1000"/>
	  <add key="LookupCacheRefreshInterval" value="1000"/>
	  <add key="IgnoreAbsentResources" value="False"/>
	  <add key="ForceMemoryFlush" value="True"/>
	  <add key="PromtReasonForChange" value="False"/>
	  <add key="DebugOutput" value="true"/>
	  <add key="DebugDetailLevel" value="20"/>
    <add key="MaxLayoutCellCount" value="1000000"/>
    <add key="MaxChartItemCount" value="400"/>
	  <add key="DontStartClient" value="True"/>
	  <!--<add key="DebugLogFile" value="eidss.exe.log" />-->
	  <add key="CollapseFilterPanel" value="True"/>
	  <add key="InitMapOnStart" value="False"/>
	  <add key="ForceFormsDisposing" value="True"/>
	  <add key="ThrowExceptionOnError" value="True"/>
	  <add key="UseNewFlexReports" value="True"/>

  </appSettings>
	<PivotValueTypeSummaryTypeSection>
		<add key="System.Int32" value="Sum">
		</add>
		<add key="System.Int64" value="Sum">
		</add>
		<add key="System.String" value="Count">
		</add>
		<add key="System.DateTime" value="Max">
		</add>
		<add key="Default" value="Count">
		</add>
	</PivotValueTypeSummaryTypeSection>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="EIDSS.RemotingServer,EIDSS" objectUri="RemotingServer"/>
      </service>
      <channels>
        <channel ref="tcp" port="4001"/>
        <serverProviders>
          <formatter ref="binary" typeFilterLevel="Full"/>
        </serverProviders>
      </channels>
    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
