<?xml version="1.0" encoding="UTF-8"?>

<?include "ProductInfo.wxi" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
    Id="*"
    Name="$(var.ProductFullName)"
    Language="!(loc.ProductLanguage)"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="$(var.UpgradeCode)">

    <Package
      Manufacturer="$(var.Manufacturer)"
      Description="$(var.ProductName)"
      Comments="$(var.ProductName)"
      SummaryCodepage="!(loc.SummaryCodepage)"
      InstallerVersion="300"
      Compressed="yes"
      InstallScope="perMachine" />

    <!--
      I used afterInstallValidate because otherwise upgrade will fail on registering help (bug in MS Help2 2002)
      Upd: not actual any more - MS Help2 removed
      But.. let it be
    -->
    <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallValidate" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Condition Message="!(loc.ConditionElevationPrivileges)">Installed OR Privileged</Condition>
    <Condition Message="!(loc.ConditionOperatingSystem)"><![CDATA[(VersionNT = 501 AND ServicePackLevel >= 3) OR VersionNT >= 600]]></Condition>

    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="!(loc.ConditionNetFramework4)"><![CDATA[Installed OR NETFRAMEWORK40FULL]]></Condition>

    <PropertyRef Id="Fragment.AODBCD2010.TotalDependency" />

    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <UIRef Id="WixUI_EIDSS" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)LicenseAgreement.rtf" />
    <!--<WixVariable Id="WixUIBannerBmp" Value="$(var.SetupSources)Banner.png" />-->
    <Icon Id="Icon.ProductIcon" SourceFile="$(var.SetupSources)Bitmaps\eidss.ico" />

    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="Icon.ProductIcon" />
    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="InstallValidate" Sequence="execute" />
    <Property Id="ProductFamilyAbbreviation" Value="$(var.ProductFamilyAbbreviation)" />
    <Property Id="MajorVersion" Value="$(var.MajorVersion)" />

    <Feature Id="ProductRegistration" Absent="disallow" AllowAdvertise="no" Level="1" Display="hidden">
      <ComponentRef Id="ProductRegistryKey" />
    </Feature>

    <Feature
      Id="EIDSS"
      Title="!(loc.DesktopFeature)"
      Description="!(loc.DesktopFeatureDescription)"
      Absent="disallow"
      AllowAdvertise="no"
      Level="1"
      Display="expand"
      ConfigurableDirectory="APPLICATIONFOLDER">

      <Feature
        Id="WHO"
        Title="!(loc.WHOFeature)"
        Description="!(loc.WHOFeatureDescription)"
        Absent="allow"
        AllowAdvertise="no"
        Level="32767"
        Display="expand">

        <ComponentGroupRef Id="who.components" />
      </Feature>

      <ComponentGroupRef Id="eidss.components" />
    </Feature>

    <Feature Id="Help" Absent="disallow" AllowAdvertise="no" Level="1" Display="hidden">
      <ComponentGroupRef Id="Help" />
      <ComponentGroupRef Id="Help.Harvested" />
    </Feature>

    <Feature Id="AVR" Absent="disallow" AllowAdvertise="no" Level="1" Display="hidden">
      <ComponentGroupRef Id="AVR" />
    </Feature>
  </Product>

  <Fragment Id="ProductRegistryKey">
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="ProductRegistryKey">
        <RegistryKey Root="HKLM" Key="$(var.ProductRegistryKey)">
          <RegistryValue Name="InstallPath" Value="[APPLICATIONFOLDER]" Type="string" KeyPath="yes" />
          <RegistryValue Name="Version" Value="$(var.ProductVersion)" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>