<?xml version="1.0" encoding="utf-8"?>

<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General"
                      logWarningsWhenNoCategoriesMatch="true">
  <listeners>


    <add
      fileName="EIDSS.Reports.log"
      header=""
      footer=""
      formatter="Text Formatter"
      rollInterval="Month"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
      traceOutputOptions="None"
      timeStampPattern="yyyy-MM-dd"
      rollFileExistsBehavior="Increment"
      maxArchivedFiles="6"
      type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
      name="LogFileListener" />


    <add
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
      traceOutputOptions="None"
      type="eidss.model.Trace.TraceTraceListener,eidss.core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      initializeData=""
      formatter="Short Text Formatter"
      name="SystemTraceListener" />

    <add
      source="EIDSS.Reports"
      log="Application"
      machineName=""
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
      traceOutputOptions="None"
      formatter="Exceptions Text Template Formatter"
      type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
      name="EventViewerListener" />

  </listeners>

  <formatters>
    <add template="{timestamp} {title} ({category}  {severity}) &#xD;&#xA;  Message: {message}&#xD;&#xA;"
         type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
         name="Short Text Formatter" />
    <add
      template="{timestamp} {title} ({category}  {severity}) &#xD;&#xA;  Message: {message} &#xD;&#xA;  Thread: (ID = {win32ThreadId}; Name = {threadName})&#xD;&#xA;  Extended Properties: {dictionary({key} - {value})}&#xD;&#xA;"
      type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
      name="Text Formatter" />
    <add template="{title}&#xD;&#xA;{message}&#xD;&#xA;Extended Properties: {dictionary({key} - {value})}"
         type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
         name="Exceptions Text Template Formatter" />

  </formatters>

  <logFilters>
    <add enabled="true"
         type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"
         name="LogEnabled Filter" />
  </logFilters>

  <categorySources>
    <add switchValue="All" name="EIDSS.Reports">
      <listeners>
        <add name="SystemTraceListener" />
        <add name="LogFileListener" />
      </listeners>
    </add>
    <add switchValue="All" name="General">
      <listeners>
        <add name="SystemTraceListener" />
      </listeners>
    </add>
  </categorySources>

  <specialSources>
    <allEvents switchValue="Information" name="All Events">
      <listeners>
        <add name="EventViewerListener" />
      </listeners>
    </allEvents>
    <notProcessed switchValue="All" name="Unprocessed Category">
      <listeners>
        <add name="SystemTraceListener" />
        <add name="LogFileListener" />
        <add name="EventViewerListener" />
      </listeners>
    </notProcessed>
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="EventViewerListener" />
      </listeners>
    </errors>
  </specialSources>

</loggingConfiguration>