/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{	
    height: 100%;
    padding: 0;
	margin: 0;    
	border: none;
	background-color: #ffffff;  
	font-family:  Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif;	
	font-size: 16px;  
}
.fntAm {
    font-family: Sylfaen, Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif;	
}
.fntGe {
    font-family: Sylfaen, Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif;	
}
.fntTh {
    font-family: "Tahoma", Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif;	
}
input[type="submit"]::-moz-focus-inner, /*for FireFox*/
input[type="button"]::-moz-focus-inner, /*for FireFox*/
button::-moz-focus-inner /*for FireFox*/
{   
    border : 0px; /* remove dotted outline on buttons */
} 
input[type="submit"]:focus, /*for IE */
input[type="button"]:focus, /*for IE */
input[type="submit"]:active, /*for IE */
input[type="button"]:active, /*for IE */
button:focus, /*for IE */
button:active, /*for IE */
a
{     
    outline : none; /* remove dotted outline on buttons */
}

html.busy, html.busy * {  
  cursor: wait !important;  
}
table
{
    padding: 0;
    margin: 0;    
	border: none;
    width: 100%;
}
table td 
{
    padding: 2px;     
}


.infoPanel 
{
    background: url(/Content/Images/Upper_screen_line_01.png) repeat-x;
    line-height: 36px;
    vertical-align: middle;
    height: 38px;
    text-align: right;
    color: #d4dae3;
    font-size: 12px;
    padding-right: 20px;
}



.content
{
    margin-top: 80px;
    min-width: 1024px; 
    /*min-height: 768px; */
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */   	
	background: #fff;
	/*background: url(/Content/Images/login_page_bg.png) repeat-x #eef2f7; */
}
.contentData {
    min-width: 1024px; 
	max-width: 1024px; 
    /*min-height: 768px; */
    margin: 0 auto;
    vertical-align: middle;
    background: #fff;
	/*background: url(/Content/Images/login_page_bg.png) repeat-x #eef2f7; */
}
.errorMessage
{
    /*margin-bottom: 15px;*/
    padding: 7px 10px;
    font-size: 12px;
    font-style: italic;
    /*background-color: #edcdcb;
    border: solid #ec6b70 1px;
    border-radius: 6px;*/
    display: none;
    color: #d91720;
    width: 292px;
    max-width: 292px;
}
/*
.successMessage {
    padding: 7px 10px;
    font-size: 12px;
    background-color: #edf1de;
    border: solid #2dcb83 1px;
    border-radius: 6px;
    color: #181b1f;
    width: 292px;
    max-width: 292px;
}*/
.footer
{
    height: 100%;
    min-height: 100%;
    line-height: normal;
    padding: 5px 0;    
    margin: 0;    
	color: #999;    
    font-size: 10px;
}
.header
{
    width: 100%;
    text-align:center;
    /*background: url(/Content/Images/header_bg.png) repeat-x; */
}
.headerImg
{
    min-width: 1024px; 
	max-width: 1024px; 
    margin: 0 auto;
}
.invisible
{
    display: none;
}
.page
{      
	min-width: 1024px; 
	max-width: 1024px; 
    min-height: 768px; 
    max-height: 768px; 
    margin: 0 auto;
}
.siteInfo
{
    width: 100%;    
    vertical-align: top; 
    text-align: center;  
    margin-bottom: 20px;
    padding: 0px;
    
    font-size: 12px;    
}
.siteInfo td
{
    width: 20%;  
    padding: 0px 2px;  
}
.versionLabel
{
    position: absolute;   
    top: 165px;
    left: 32px;     
    color: #2751a6;   
    font-size: 12px;     
}
.changePasswordLink 
{
    text-align: right;
    font-size: 12px;
    color: #285ea6;
}
.k-rtl .changePasswordLink 
{
    text-align: left;
}

.login 
{
    padding-top: 0px;
    padding-left: 350px;
    padding-right: 350px;
}

.timeout
{
    padding-top: 140px;
    padding-left: 210px;
    padding-right: 210px;
}
.changePasswordPanel 
{
    padding-top: 0px;
    padding-left: 350px;
    padding-right: 350px;
}


.twinkleInput label {
    color: #989898;
    font-size: 16px;
    font-style: italic;
    cursor: text;
    left: 6px;
    pointer-events: none;
    position: absolute;
    top: 4px;
    transition: color .2s linear 0;
    z-index: 22000;
    overflow: hidden;
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.k-rtl .twinkleInput label {
    right: 6px;
    left: inherit;
}
.focused.twinkleInput label {
    display: none;
}
.populated.twinkleInput label {
    display: none;
}



.loginLabel 
{
    min-width: 220px;
    max-width: 220px;
    text-align: right;
    padding-right: 23px;
    word-break: break-all;
    font-size: 16px;
    color: #181b1f;
}
.changePasswordLabel 
{
    min-width: 240px;
    max-width: 240px;
    text-align: right;
    padding-right: 23px;
    word-break: break-all;
    font-size: 16px;
    color: #181b1f;
}
.loginField
{
    min-width: 310px;
    width: 310px;  
}
.k-textbox {
    width: 100%;
}
.k-textbox.no-cap {
    autocorrect:off;
    autocapitalize:none;
}
.loginButtons 
{
    padding-top: 10px;
    text-align: right;
}
.k-rtl .loginButtons 
{
    text-align: left;
}
.changePasswordButtons {
    padding-top: 25px;
    text-align: right;
}
.k-rtl .changePasswordButtons {
    text-align: left;
}
.button 
{
    min-width: 100px;
}

.cleanButton {
    position: absolute;
    display: block;
    top: 0px;
    right: 3px;
    width: 20px;
    height: 20px;
    background: url(/Content/Images/clear_icon.png) no-repeat;
    background-size: 20px;
    cursor: pointer;
}
.title {
    font-size: 24px;
    color: #102541;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
}
.timeoutMessage {
    color: #102541;
    margin-bottom: 20px;
}

.line {
    margin-top: 110px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #a7bdd7;
    border: none;
    text-align: center;
    height: 2px;
}

.button {
    min-height: 35px;
    background: #102541;
    /*background: url(/Content/Images/buttonLogin.png) repeat-x;*/
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    padding: 0 10px;
    width: 100%;

    border: #102541 1px solid;
}
/*.k-ie .button {
    border: #102541 1px solid;
}*/

.langSelectNew {
    text-align: center;
}
.langItemNew {
    font-size: 12px;
    color: #285ea6;
    margin: 4px 4px 4px 4px;
    white-space: nowrap;
}


.k-ie9.k-textbox.k-space-right{
    padding-right:22px
}
.k-ie10.k-textbox.k-space-right{
    padding-right:0
}
.k-ie11.k-textbox.k-space-right{
    padding-right:0
}
.k-ie12.k-textbox.k-space-right{
    padding-right:0
}