<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add
      key="Tasks"
      value="
        RightsAndPermissionsForDesktop.dll;AUM.XPatch.RightsAndPermissionsForDesktop,
        UpdateAvrFilter.dll;AUM.XPatch.UpdateAvrFilter,
        InstallFonts.dll;AUM.XPatch.InstallFonts,
        SetNewDownloadStrategy.dll;AUM.XPatch.SetNewDownloadStrategy,
        UpdateAvrLoggingConfig.dll;AUM.XPatch.UpdateAvrLoggingConfig
      " />
  </appSettings>
</configuration>
