<configuration>
  <configSettings>
    <add key="SelectedTab" value="miAvrDbInstallation" />
    <add key="AdvancedTasksTabs" value="" />
    <miAvrDbInstallation>
      <add key="server_name" value="" />
      <add key="{user_name}" value="" />
      <add key="{user_name_password}" value="" />
      <add key="database_name" value="" />
      <add key="avr_server_name" value="" />
      <add key="{avr_server_user_name}" value="" />
      <add key="{avr_server_user_name_password}" value="" />
      <add key="avr_database_name" value="" />
      <add key="avr_backup_file" value="" />
      <add key="avr_restore_from_backup" value="True" />
      <add key="execute_avr_installation_scripts" value="True" />
    </miAvrDbInstallation>
  </configSettings>
</configuration>