@using eidss.model.Schema
@model bv.model.Model.Core.IObject
           
@{
    var session = Model as VsSession;
    var vector = Model as Vector;
    if (session == null && vector == null) {return;} //чисто гипотетическая ситуация
    var isSession = session != null;
    
    var id = isSession ? session.idfVectorSurveillanceSession : vector.idfVector;
    //TODO здесь отличается от других
    var objName = (isSession ? session.ObjectIdent : vector.ObjectIdent) + "LabTests";
    var objLabTests = isSession ? session.LabTests : vector.LabTests;
    var readOnly = isSession || (vector.IsReadOnly("LabTests") || (vector.GetPermissions() != null && vector.GetPermissions().IsReadOnlyForEdit));
}
<div class="tabPanelContent">
    @Html.Action("VectorLabTestGrid", "Grids",
             new
                 {
                     root = id,
                     name = objName,
                     labtests = objLabTests,
                     isReadOnly = readOnly,
                     isVectorDetail = !isSession
                 })
</div>