/* 404 error in popup window */
.pnError 
{
    vertical-align: middle;
    padding-top: 20px;
}
.pnError h3
{
    text-align: center;
}
.pnError .errorButtonPanel 
{
    display: none;    
}
.k-window .pnError .errorButtonPanel 
{
    display: block;
}
.errorButtonPanel{   
    text-align: right;
}
.windowButton {
    min-width: 70px;
    width: 70px;
    background: url(/Content/Images/button.png);
    border: #85a2c7 1px solid;
    min-height: 22px;
    max-height: 22px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    color: #102541;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 4px;
}

.windowButtonWide {
    min-width: 120px;
    width: 120px;
}
