html {
    background-color: #fff;
}
.homePage {
    background-color: #eff3f8;
}
.page {
    position:absolute;
    top:0;
    bottom:0;
    margin: 0 10px;
    max-width: inherit;
}
.header {
    color: #102541;
    position: relative;
    font-size: 14px;
}
.logo {
    font-size: 42px;
    font-weight: bold;
    min-width: 430px;
    max-width: 430px;
    line-height: 38px;
    height: 38px;
    color: #102541;
}
.logo a,
.logo a:visited {
    color: #102541;
    text-decoration: none;
}
.name {
    font-size: 12px;
}
.infoTd {
    width: 100%;
}
.infoPanel 
{
    background: url(/Content/Images/Upper_screen_line_02.png) no-repeat, url(/Content/Images/Upper_screen_line_01.png) 106px 0 repeat-x;
    line-height: 36px;
    vertical-align: middle;
    height: 38px;
    text-align: right;
    color: #d4dae3;
    font-size: 12px;
    padding-right: 20px;
}
.k-rtl .infoPanel 
{
    background: url(/Content/Images/Upper_screen_line_01.png) repeat-x;
    text-align: left;
    padding-left: 20px;
    padding-right: inherit;
}

.infoPanel a,
.infoPanel a:visited {
    color: #d4dae3;
    text-decoration: none;
}
.headerPanel {
    width: 100%;
    border-style: none;
    border-width: 0px;
    background-color: #fff;
}
.k-menu-horizontal {
     height: 33px;
}
.k-menu-horizontal,
.k-menu-horizontal > li {
    color: #102541;
    font-weight: bold;
    border-color: #83a2c6;
    background: url(/Content/Images/Navigation_tool_panel.png) repeat-x;
}
.k-menu-horizontal > li {
    border-right-color: #b9cadf;
}
.k-menu-horizontal > li > .k-link {
    background: url(/Content/Images/Navigation_tool_panel.png) repeat-x;
}
.k-menu-horizontal > li.k-first > .k-link {
    padding-left: 10px;
}
.k-menu-horizontal > li.k-state-hover,
.k-menu-horizontal > li.k-state-hover >.k-link {
    background: url(/Content/Images/selected_navig_tool.png) repeat-x;
    border-color: #102541;
    color: #fff;
}
.k-menu-horizontal > li.k-state-hover > .k-link {
    color: #fff;
}

.k-menu-horizontal > li.k-state-hover .k-i-arrow-s {
    background: url(/Content/Kendo/BlueOpal/sprite_hower.png)!important;
    background-position: 0px -32px!important;
}
.k-menu-horizontal > .k-state-highlight {
    /*z-index: 25000!important;*/
}

.k-link:link, .k-link:visited, .k-state-hover.k-nav-current .k-link {
    color: #102541;
}

.k-menu-horizontal .k-animation-container {
    /*top: 33px!important;*/
    font-size: 12px;
    color: #102541;
}
.k-menu-horizontal .k-animation-container ul {
    background-color: #c8d6e6;
    border-color: #95afce;
}
.k-menu-horizontal .k-animation-container .k-item {
    font-size: 12px;
    color: #102541!important;
    font-weight: normal;
}
.k-menu-horizontal .k-animation-container .k-state-hover span,
.k-menu-horizontal .k-animation-container .k-state-hover a {
    /*background-color: #507baf;*/
    /*color: #fff;*/
}
.k-menu-horizontal .k-animation-container .k-state-selected {
    font-size: 12px;
    color: #102541!important;
    font-weight: normal;
    background-color: #ebf1de;
    box-shadow: none;
}
.showMenuArrow {
    width: 22px;
    border-left: #b9cadf 1px solid;
    position: absolute;
    z-index: 10000;
    top: 65px;
    right: 0;
    height: 24px;
    padding-left: 7px;
    padding-top: 8px;
    display: none;
}
.k-rtl .showMenuArrow {
    border-right: #b9cadf 1px solid;
    left: 0;
    padding-right: 7px;
    border-left: none;
    right: inherit;
    padding-left: inherit;
}
.showMenuArrow span.k-i-arrow-s {
    cursor: pointer;
}
.navigationMenuPanel {
    text-align: right;
    height: 35px;
}
.k-rtl .navigationMenuPanel {
    text-align: left;
}
.navigationMenu {
    position: relative;
    float: right;
    height: 33px;
    background: url(/Content/Images/quick_action_panel.png);
    border: #83a2c6 1px;
    border-style: solid;
    border-collapse: collapse;
    text-decoration: none;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    display: block;
    vertical-align: middle;
    /*z-index: 100;*/
}
.k-rtl .navigationMenu {
    float: left;
}

.navigationMenu li
{
    display: block;
    float: left;
    border-style: none;
    border-width: 0;
    border: 0;
    padding: 2px 0 0 8px;
}
.k-rtl .navigationMenu li
{
    float: right;
    padding: 2px 0px 0 6px;
}
li.lastInSection {
    border-right: #b9cadf 1px solid;
    padding-right: 8px;
}
.k-rtl li.lastInSection {
    border-left: #b9cadf 1px solid;
    padding-left: 8px;
    border-right: none;
    padding-right: 8px;
}
.navigationMenu img
{
    width: 28px;
    border-style: none;
    border-width: 0;
    border: 0;
}
.menuArrow span.k-i-arrow-n {
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 6px;
    zoom: 1; /* important for IE */
    width: 4px;
    cursor: pointer;
}
.content {
    position: relative;
}
.customTitle {
    padding: 5px;
    font-size: 19px;
    color: #102541;
    font-weight: bold;
}
.customTitleFormCode {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.k-rtl .customTitleFormCode {
    left: 0;
    right: auto;
    text-align: left;
}

.center {
    position: absolute;
    top: 100px;
    left: 25%;
}
.about {
    width: 100%;
    color: #000;
    font-size: 12px;
    border: none;
    border-width: 0;
}
.aboutTextTd {
    width: 100%;
    border-bottom: #c8d6e6 1px solid;
    margin-bottom: 10px;
    vertical-align: top;
}
.abbreviation {
    color: #102541;
    font-size: 16px;
    font-weight: bold;
}
.fullName {
    color: #102541;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
}
.version {
    font-size: 10px;
    color: #6d6d6d;
}
.userInfo {
    padding-top: 5px;
    color: #000;
    font-size: 12px;
}
.userInfo div {
    padding-top: 10px;
}
.userInfoLabel {
    font-weight: bold;
}
.itemsList {
    width: 100%;
    border-spacing: 0;
}
.itemsList tr,
.itemsList tr td {
    border: 0;
    border-spacing: 0;
}
.lfButton
{        
    padding: 0px;
    margin: 0;        
    font-size: 12px;
    border-radius: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    min-height: 100%;
}

.lfButton img
{       
    width:16px;
    height:16px;
}

td.lfGridTd
{
    height:100%;   
    padding:0;
}
.listForm {
    position: relative;
    min-height: 580px;
}
.lfGrid {
    min-height: 580px;
}
.topButtonPanel{
    background: url(/Content/Images/line_for_list_forms.png) repeat-x;
    height: 33px;
    line-height: 33px;
    border: #102541 1px solid;
    padding: 0;
}
.actionPanel {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    border: none;
}
.reportButtons .button {
    float: left;
    margin-right: 4px;
}
.actionButtons .button {
    float: right;
    margin-left: 4px;
    margin-right: 10px;
}
.k-rtl .actionButtons .button {
    float: left;
    margin-right: 4px;
    margin-left: 10px;
}

.k-grid .k-grid-header {
    /*padding-right: 0!important;*/
}
.k-grid .k-grid-header .k-link {
    font-weight: bold;
    border-color: #82a1c6;
}
.k-grid .k-grid-header .k-link,
.k-grid .k-grid-header,
.k-grid .k-grid-pager {
    background-color: #afc2da;
    background-image: none;
}
.k-grid ,
.k-grid .k-grid-toolbar,
.k-grid .k-grid-header,
.k-grid .k-grid-header .k-header,
.k-grid .k-grid-header .k-header a,
.k-grid .k-grid-header .k-header a:hover,
.k-grid .k-grid-content,
.k-grid .k-grid-pager,
.k-grid .k-grid-pager .k-link,
.k-grid .k-grid-pager .k-pager-numbers a,
.k-grid .k-grid-pager .k-pager-numbers span{
    border-color: #82a1c6;
    color: #262626;
    font-size: 12px;
    background-color: #afc2da;
    background-image: none;
}
.k-grid .k-grid-content tr[role="row"] td {
    border-bottom: #82a1c6 1px solid;
    border-color: #82a1c6;
    border-collapse: collapse;
}

.k-grid-header .k-header {
    white-space: inherit;
}

.k-grid .k-grid-content .k-alt {
    background-color: #fff;
}
.k-grid .k-grid-content .t-no-data td {
    border-bottom: 0;
}
.k-grid .k-grid-pager .k-pager-numbers span.k-state-selected {
    background-color: #82a1c6;
    background-image: none;
    border-color: #82a1c6;
    box-shadow: none;
    color: #fff;
}
.k-grid .k-grid-content {
    background-color: #eef2f7;
}
.k-grid-content {
    /*overflow-y: auto;*/
}
.editColumn {
    width: 40px;
}


/* fixing the error of grid column resizing in chrome */
/*.k-rtl .k-grid tr
{
   -webkit-transform: scale3d(1,1,1);
}
.k-rtl .k-grid th,
.k-rtl .k-grid td
{
    -webkit-transform: translateZ(0);
}*/
