<?xml version="1.0" encoding="utf-8"?>
<config>
  <level value="5" />
  <backupdir path="C:\AUM60\backups\" />
  <sync count="5" />
  <rund interval="03:03" />
  <runu interval="04:00" />
  <savestate interval="00:01" />
  <autorefresh seconds="10" />
  <updateurl url="" reserve="" />
  <replicationjob name="" />
</config>
