@model HandleErrorInfo
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Error";
}

@using eidss.mobileclient.Utils

<h2>
    @Translator.GetMessageString("errAjaxRequestException") 
</h2>
