div.scrollable 
{
    height: 150px;
    overflow: auto;
    float: left;
    border: 1px solid #789ed2 !important;
}

.xxxlargeInternal
{
    width: 568px; 
    min-width: 568px;
	max-width: 568px;
} 

.largeInternal
{
	width: 198px;
	min-width: 198px;
	max-width: 198px;
}

