<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="AvrSvcSettingsDlg" Width="370" Height="270" Title="!(loc.AvrSvcSettingsDlg_Title)">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
          <Publish Event="DoAction" Value="TestAvrServicePort" Order="1">1</Publish>
          <Publish Event="SpawnDialog" Value="BadPortDlg" Order="2"><![CDATA[AVR_SERVICE_PORT_VALID <> "1"]]></Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>

        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.AvrSvcSettingsDlgDescription)" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.AvrSvcSettingsDlgTitle)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.AvrSvcSettingsDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        
        <Control Id="ServiceNameTitle" Type="Text" Width="80" Height="17" X="10" Y="50" Text="!(loc.AvrSvcSettingsDlgServiceName)" />
        <Control Id="ServiceName" Type="Edit" Width="220" Height="15" X="110" Y="50" Property="AVR_SERVICE" />

        <Control Id="ServiceDisplayNameTitle" Type="Text" Width="80" Height="17" X="10" Y="80" Text="!(loc.AvrSvcSettingsDlgServiceDisplayName)" />
        <Control Id="ServiceDisplayName" Type="Edit" Width="220" Height="15" X="110" Y="80" Property="AVR_SERVICE_DISPLAY_NAME" />

        <Control Id="ServicePortTitle" Type="Text" Width="80" Height="17" X="10" Y="110" Text="!(loc.AvrSvcSettingsDlgServicePort)" />
        <Control Id="ServicePort" Type="Edit" Width="80" Height="15" X="110" Y="110" Property="AVR_SERVICE_PORT" />

        <Control Id="TestPort" Type="PushButton" X="210" Y="108" Width="50" Height="17" Text="!(loc.AvrSvcSettingsDlgTestPort)">
          <Publish Event="DoAction" Value="TestAvrServicePort" Order="1">1</Publish>
          <Publish Event="NewDialog" Value="AvrSvcSettingsDlg2" Order="2">1</Publish>
        </Control>

        <Control Id="TestResult_Success" Type="Icon" IconSize="32" X="280" Y="100" Width="34" Height="34" Text="SuccessImg" FixedSize="yes" Hidden="yes">
          <Condition Action="hide"><![CDATA[AVR_SERVICE_PORT_VALID <> "1"]]></Condition>
          <Condition Action="show"><![CDATA[AVR_SERVICE_PORT_VALID = "1"]]></Condition>
        </Control>
        <Control Id="TestResult_Failure" Type="Icon" IconSize="32" X="280" Y="100" Width="34" Height="34" Text="FailureImg" FixedSize="yes" Hidden="yes">
          <Condition Action="hide"><![CDATA[AVR_SERVICE_PORT_VALID = "1"]]></Condition>
          <Condition Action="show"><![CDATA[AVR_SERVICE_PORT_VALID And AVR_SERVICE_PORT_VALID <> "1"]]></Condition>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>