<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="BadAccountDlg" Width="230" Height="80" Title="!(loc.ErrorDlg_Title)">
        <Control Id="TestResult_Success" Type="Icon" IconSize="48" X="5" Y="5" Width="50" Height="50" Text="SuccessImg" FixedSize="yes">
          <Condition Action="hide"><![CDATA[SERVICE_ACCOUNT_VALID <> "1"]]></Condition>
          <Condition Action="show"><![CDATA[SERVICE_ACCOUNT_VALID = "1"]]></Condition>
        </Control>
        <Control Id="TestResult_Failure" Type="Icon" IconSize="48" X="5" Y="5" Width="50" Height="50" Text="FailureImg" FixedSize="yes">
          <Condition Action="hide"><![CDATA[SERVICE_ACCOUNT_VALID = "1"]]></Condition>
          <Condition Action="show"><![CDATA[SERVICE_ACCOUNT_VALID <> "1"]]></Condition>
        </Control>
        <Control Id="ErrorText" Type="Text" X="60" Y="15" Width="160" Height="36" TabSkip="no" Text="[InvalidAccountText]" />
        <Control Id="O" Type="PushButton" X="100" Y="60" Width="56" Height="17" TabSkip="yes" Text="!(loc.WixUIOK)">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
      </Dialog>
    </UI>

    <Property Id="InvalidAccountText_BadDomain" Value="!(loc.InvalidAccountText_BadDomain)" />
    <Property Id="InvalidAccountText_EmptyLogin" Value="!(loc.InvalidAccountText_EmptyLogin)" />
    <Property Id="InvalidAccountText_NonExistentAccount" Value="!(loc.InvalidAccountText_NonExistentAccount)" />
    <Property Id="InvalidAccountText_InvalidAccount" Value="!(loc.InvalidAccountText_InvalidAccount)" />
  </Fragment>
</Wix>