<?xml version="1.0" encoding="UTF-8"?>

<?include "$(var.ProjectDir)ProductInfo.wxi" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="UI bitmaps">
    <Binary Id="FailureImg" SourceFile="$(var.SetupSources)Bitmaps\failure.ico" />
    <Binary Id="SuccessImg" SourceFile="$(var.SetupSources)Bitmaps\success.ico" />
    <Binary Id="UnknownImg" SourceFile="$(var.SetupSources)Bitmaps\unknown.ico" />
  </Fragment>
</Wix>