<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="InnerProperties">
    <CustomAction Id="TestDbConnection" DllEntry="TestDbConnection" BinaryKey="CustomActions" />
    <CustomAction Id="TestArchiveDbConnection" DllEntry="TestArchiveDbConnection" BinaryKey="CustomActions" />
    <CustomAction Id="TestAvrDbConnection" DllEntry="TestAvrDbConnection" BinaryKey="CustomActions" />
    <CustomAction Id="TestDbAdminConnection" DllEntry="TestDbAdminConnection" BinaryKey="CustomActions" />
    <CustomAction Id="TestWideAvrDbConnection" DllEntry="TestWideAvrDbConnection" BinaryKey="CustomActions" />
  </Fragment>
</Wix>