<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SQLConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;" />
    <add key="RemotingServerUrl" value="tcp://localhost:4016/RemotingServer" />
    <add key="TcpPort" value="4016" />
    <add key="DefaultLanguage" value="en" />
    <add key="DebugOutput" value="true" />
    <add key="DebugDetailLevel" value="20" />
    <add key="DebugLogFile" value="eidss_clientagent_debug.log" />
    <add key="SystemFontName" value="Arial" />
    <add key="SystemFontSize" value="8.25" />
    <add key="GeorgianSystemFontName" value="Sylfaen" />
    <add key="GeorgianSystemFontSize" value="8.25" />
  </appSettings>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="EIDSS_Remoting.IServer,EIDSS_Remoting" url="tcp://localhost:8010/RemotingServer" />
      </client>
      <channel ref="tcp" port="0">
        <serverProviders>
          <formatter ref="binary" typeFilterLevel="Full" />
        </serverProviders>
      </channel>
    </application>
  </system.runtime.remoting>
</configuration>