<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SQLConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;"/>
	  <add key="SQLUser" value="2JFQv+6TzMsnpw9JJ2ufZw=="/>
	  <add key="SQLPassword" value="LcaO61x1c4BG+hxMDN0hmg=="/>
    <add key="SQLDatabase" value="LOAD_FALCON_TH"/>
    <add key="SQLServer" value="192.168.0.103\SYSTEM"/>

    <!--<add key="SQLDatabase" value="EIDSS_V6_Tests" />
	  <add key="SQLServer" value="(local)" />-->
    <add key="ConnectionSource" value="1"/>
    <add key="PollRate" value="200"/>
    <add key="RetryInterval" value="30000"/>
    <add key="RetryAttemptsCount" value="4"/>
    <add key="UseDirectDataAccessor" value="true"/>
    <add key="DebugOutput" value="true"/>
    <add key="DebugDetailLevel" value="11"/>
    <add key="DebugLogFile" value="eidss_ns60.log"/>
    <add key="PingAddress" value=""/>
    <add key="PingInterval" value="400"/>
    <add key="PingWriteToLog" value="False"/>
    <add key="RoutineJobName" value="GETBTB0\SYSTEM-LOAD_FALCON_TH-LOAD_FALCON_TH-GEWEB00\SYSTEM-LOAD_FALCON_TH- 0"/>
    <add key="ClientID" value="1234"/>

    <add key="FrequencyDays" value="3"/>
    <!--Test vars-->
    <add key="ServerCount" value="1"/>
    <add key="Country" value="GG0000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
