@model List<SelectListItem>
<div class="currentLanguage">
    <table>
        <tr>
            <td>
                <img class="curFlag" src="../../Content/Images/Flags/United_States_of_America.png"/>
            </td>
            <td class="curLangName">
                English
            </td>
        </tr>
    </table>
</div>