<?xml version="1.0" encoding="UTF-8"?>

<?include "$(var.ProjectDir)ProductInfo.wxi" ?>
<?include "$(var.SolutionDir)EIDSS.WebSetup\MultiInstance\MultiInstance.wxi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="Web Products Searches">
    
    <?define web_instance = DEFAULT?>
    <?define web_upgrade_code = $(var.UpgradeCode.Default)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I01?>
    <?define web_upgrade_code = $(var.UpgradeCode.I01)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I02?>
    <?define web_upgrade_code = $(var.UpgradeCode.I02)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I03?>
    <?define web_upgrade_code = $(var.UpgradeCode.I03)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I04?>
    <?define web_upgrade_code = $(var.UpgradeCode.I04)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I05?>
    <?define web_upgrade_code = $(var.UpgradeCode.I05)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I06?>
    <?define web_upgrade_code = $(var.UpgradeCode.I06)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I07?>
    <?define web_upgrade_code = $(var.UpgradeCode.I07)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I08?>
    <?define web_upgrade_code = $(var.UpgradeCode.I08)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I09?>
    <?define web_upgrade_code = $(var.UpgradeCode.I09)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I10?>
    <?define web_upgrade_code = $(var.UpgradeCode.I10)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I11?>
    <?define web_upgrade_code = $(var.UpgradeCode.I11)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I12?>
    <?define web_upgrade_code = $(var.UpgradeCode.I12)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I13?>
    <?define web_upgrade_code = $(var.UpgradeCode.I13)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I14?>
    <?define web_upgrade_code = $(var.UpgradeCode.I14)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I15?>
    <?define web_upgrade_code = $(var.UpgradeCode.I15)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I16?>
    <?define web_upgrade_code = $(var.UpgradeCode.I16)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I17?>
    <?define web_upgrade_code = $(var.UpgradeCode.I17)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I18?>
    <?define web_upgrade_code = $(var.UpgradeCode.I18)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I19?>
    <?define web_upgrade_code = $(var.UpgradeCode.I19)?>
    <?include WebProductSearches.wxi?>

    <?define web_instance = I20?>
    <?define web_upgrade_code = $(var.UpgradeCode.I20)?>
    <?include WebProductSearches.wxi?>
  </Fragment>
</Wix>