<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PivotValueTypeSummaryTypeSection" type="System.Configuration.NameValueSectionHandler"/>
    <section name="PivotFieldSummaryTypeSection" type="System.Configuration.NameValueSectionHandler"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="schedulerConfiguration" type="eidss.model.WindowsService.SchedulerConfigurationSection, eidss.core"/>

  </configSections>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <schedulerConfiguration schedulerEnabled="true" immediatelyRunSchedulerWhenServiceStarts="false" daysBetweenSchedulerRuns="1" timeOfSchedulerRuns="01:02:03" secondsBetweenSchedulerTasks="1" refreshedCacheOnUserCallAfterDays="7" dontRefreshCacheNotUsedByUserAfterDays="30">
  </schedulerConfiguration>
  <PivotFieldSummaryTypeSection>
    <add key="test_field" value="Max"/>
    <add key="sflHC_DaysAfterFSCUntilNotif" value="Max"/>
    <add key="sflHCSample_DaysAfterFSCuntilSC" value="Max"/>
    <add key="sflHC_DaysAfterInitDiagUntilFinal" value="Max"/>
    <add key="sflHC_DaysAfterInitDiagUntilNotif" value="Max"/>
    <add key="sflHC_DaysAfterNotifUntilCaseInvest" value="Max"/>
    <add key="sflHCSample_DaysAfterNotifUntilSC" value="Max"/>
    <add key="sflHC_DaysAfterOnsetSymptUntilNotif" value="Max"/>
    <add key="sflHC_DaysAfterFSCUntilEntered" value="Max"/>
    <add key="sflHC_DaysAfterFSCUntilFinalDiag" value="Max"/>
    <add key="sflHC_DaysAfterSymptOnsetUntilFSC" value="Max"/>
    <add key="sflHCSample_DaysUntAccesSinceSent" value="Max"/>
    <add key="sflHCSample_DaysUntilSent_Collect" value="Max"/>
    <add key="sflHCTest_DaysUntilTest_SmplAcces" value="Max"/>
    <add key="sflHCTest_DaysUntilTest_SmplSent" value="Max"/>
  </PivotFieldSummaryTypeSection>
  <PivotValueTypeSummaryTypeSection>
    <add key="System.Int32" value="Sum"/>
    <add key="System.Int64" value="Sum"/>
    <add key="System.String" value="Count"/>
    <add key="System.DateTime" value="Max"/>
    <add key="Default" value="Count"/>
  </PivotValueTypeSummaryTypeSection>
  <appSettings>
    <add key="ReportServiceHostURL" value="http://localhost:8097/"/>
    <add key="UseDefaultLogin" value="true"/>
    <add key="DefaultLanguage" value="en"/>
    <add key="ConnectionSource" value="1"/>
    <add key="SQLConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;"/>
    <add key="SQLUser" value="MVN4akksitVK64gNWlzJ7w=="/>
    <add key="SQLPassword" value="W/nsgbXLJBBi93z0OXlnsQ=="/>
    <add key="SQLDatabase" value="EIDSS_V4"/>
    <add key="SQLServer" value="(local)"/>
    <add key="ArchiveConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;"/>
    <add key="ArchiveUser" value="MVN4akksitVK64gNWlzJ7w=="/>
    <add key="ArchivePassword" value="W/nsgbXLJBBi93z0OXlnsQ=="/>
    <add key="ArchiveDatabase" value="eidss_v4_Ivan_Archive"/>
    <add key="ArchiveServer" value="MirnayaSQL\V4"/>
    <add key="ThrowExceptionOnError" value="true"/>
    <add key="WorkItemTrackingCacheRoot" value="C:\TFSClientCache"/>
    <add key="TestConnectionString" value="Server=(local);Database=UnitTests_Ivan;User ID=super;Password=super"/>
    <add key="EidssConnectionString" value="Server=(local);Database=eidss_v4;User ID=super;Password=super"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IReportFacade" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAVRFacade" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPortManagerContract"/>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="EIDSS.Reports.Service.WcfFacade.ReportFacade" behaviorConfiguration="ServiceBehavior">
        <endpoint bindingConfiguration="BasicBinding" binding="basicHttpBinding" contract="EIDSS.Reports.Service.WcfFacade.IReportFacade"/>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:8071/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAVRFacade" contract="AVRCacheService.IAVRFacade" name="BasicHttpBinding_IAVRFacade"/>
      <endpoint address="http://localhost:8733/PortManaging/Service/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPortManagerContract" contract="PortManagement.IPortManagerContract" name="WSHttpBinding_IPortManagerContract"/>
      <endpoint address="http://localhost:8097/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportFacade" contract="ReportPdfService.IReportFacade" name="BasicHttpBinding_IReportFacade"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="EIDSS.UnitTests.log" header="" footer="" formatter="Short Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="LogFileListener"/>
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="eidss.model.Trace.TraceTraceListener,eidss.core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="" formatter="Short Text Formatter" name="SystemTraceListener"/>
      <add source="EIDSS.UnitTests" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" formatter="Exceptions Text Template Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="EventViewerListener"/>
    </listeners>
    <formatters>
      <add template="{timestamp} {title} ({category}  {severity}) 
Message: {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="Short Text Formatter"/>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="Text Formatter"/>
      <add template="{title}
{message}
Extended Properties: {dictionary({key} - {value})}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="Exceptions Text Template Formatter"/>
    </formatters>
    <logFilters>
      <add enabled="true" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="LogEnabled Filter"/>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="EIDSS.Reports">
        <listeners>
          <add name="SystemTraceListener"/>
          <add name="LogFileListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="EIDSS.AVR">
        <listeners>
          <add name="SystemTraceListener"/>
          <add name="LogFileListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="SystemTraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Information" name="All Events">
        <listeners>
          <add name="EventViewerListener"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="SystemTraceListener"/>
          <add name="LogFileListener"/>
          <add name="EventViewerListener"/>
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="EventViewerListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.100.0.0" newVersion="14.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
