<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SQLConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;"/>
    <add key="SQLUser" value="MVN4akksitVK64gNWlzJ7w=="/>
    <add key="SQLPassword" value="W/nsgbXLJBBi93z0OXlnsQ=="/>
    <add key="SQLDatabase" value="EIDSS"/>
    <add key="SQLServer" value="(local)"/>
    <add key="ServerPath" value="c:\Mike\Projects\EIDSS_V3\EIDSS\EIDSS_Main\bin\eidss.exe"/>
    <add key="DefaultLanguage" value="en"/>
    <add key="SystemFontName" value="Arial"/>
    <add key="SystemFontSize" value="8.25"/>
    <add key="GeorgianSystemFontName" value="Sylfaen"/>
    <add key="GeorgianSystemFontSize" value="8.25"/>
    <add key="TcpPort" value="4015"/>
    <add key="PlaySoundForAlerts" value="false"/>
    <add key="DebugOutput" value="true"/>
    <add key="DebugDetailLevel" value="20"/>
    <add key="DebugLogFile" value="EidssClientAgent60_debug.log"/>
  </appSettings>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown type="EIDSS_Remoting.IServer,EIDSS_Remoting" url="tcp://localhost:8009/RemotingServer"/>
      </client>
      <channel ref="tcp" port="0">
        <serverProviders>
          <formatter ref="binary" typeFilterLevel="Full"/>
        </serverProviders>
      </channel>
    </application>
  </system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
