.sectionTitle {
    border-top: 1px solid #88a5c9;
    border-bottom: 1px solid #88a5c9;
    height: 35px;
    color: #34465d;
    font-weight:bold;
    font-size: 12px;
}
.sectionText {
    margin-left: 5px;
}

.line {
    padding: 4px 10px 4px 8px;
}
.frame {
    padding: 4px 8px 4px 8px;
}
.actionline {
    padding: 8px 0 4px 0;
}
/*style for td containing devexpress check box*/
.dxichCellSys {
    width: 15px;
}
.errorMessage {
    color: red;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}
/*.dxpcLite_Office2010Blue .dxpc-header {
    background: #bbcee6 url('/Content/Images/line_for_list_forms.png') repeat-x left top !important; 
    font-size: 16px;
    color: #fff;
    background: url(/Content/Images/heading_for_modal_window.png);
    border-color: #202020;
    border-top-color: #202020!important;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: bold;
   
}*/