body
{	
    height: 100%;
    padding: 0;
	margin: 0;    
	border: none;
	font-family:  Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif;	
	font-size: 12px;  
    box-sizing: border-box;
}
input[type="submit"]::-moz-focus-inner, /*for FireFox*/
input[type="button"]::-moz-focus-inner, /*for FireFox*/
button::-moz-focus-inner /*for FireFox*/
{   
    border : 0px; /* remove dotted outline on buttons */
} 
input[type="submit"]:focus, 
input[type="button"]:focus, 
input[type="submit"]:active,
input[type="button"]:active, 
input[type="radio"],
input[type="radio"]:checked,
input[type="radio"]:focus,
input[type="radio"]:active,
button:focus, 
button:active, 
a
{     
    outline : none; /* remove dotted outline on buttons */
}

html.busy, html.busy * {  
  cursor: wait !important;  
}
table
{
    padding: 0;
    margin: 0;    
	border: none;
}

.page {
    width: 99%;
    min-width: 1024px;
    min-height: 768px;
    margin: 0 auto;
}

.invisible {
    display: none;
}

/*DevExpress popup menu */
.dxmLite_Office2010Blue .dxm-popup {
    background-color: #c8d6e6 !important;
}
.dxm-gutter {
    background-image: none !important;
}
.dxmLite_Office2010Blue .dxm-item {
    padding-left: 0 !important;
}
/*DevExpress popup menu end*/

/*DevExpress tree list edit form */
.dxtlEditForm_Office2010Blue {
    background-color: #c8d6e6 !important;
    padding: 0 !important;    
}

.dxpgArea_Office2010Blue {
    background-color: #afc2da !important;
}
.edit_form {
    border: 1px solid #95afce !important;
    padding: 8px 10px 10px;    
}
/*DevExpress tree list edit form end*/

.dxm-hovered,
.dxm-selected 
{
    background: #85a2c7 url(/Content/Images/button.png) repeat-x!important;
}
.dxmLite_DevEx ul.dx,
.dxmLite_Office2010Blue ul.dx 
{
    font: bold 12px Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif !important;
}

 .dxm-content {
     padding: 3px 12px!important;
 }
 span.dx-vam {
     padding: 1px 0!important;
 }
.dxmLite_DevEx .dxm-main, 
.dxmLite_Office2010Blue .dxm-main,
.button,
.k-button,
.dxpgFilterBuilderButtonArea_Office2010Blue .dxbButton_Office2010Blue,
.button.k-button:hover {
    min-width: 70px;
    background:#85a2c7 url(/Content/Images/button.png) repeat-x!important;
    border: #85a2c7 1px solid!important;
    vertical-align: middle!important;
    text-align: center!important;
    font: bold 12px Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif !important;
    border-radius: 5px!important;
    padding: 0 11px!important;        
    line-height: 22px !important;
    height: 22px!important;
}
.k-textbox {
    border-radius: 0;
}
.k-textbox {
    min-width: 170px;
    max-width: 170px;
}
.k-textbox input {
    margin-left: -3px;
    margin-top: 0;
    margin-bottom: 0;
}
/*from kendo*/
.k-textbox.k-space-right{padding-right:22px}
.k-textbox .k-icon{font-size:inherit;top:50%;margin:-8px 0 0;position:absolute}
.k-space-left .k-icon{left:3px}
.k-space-right .k-icon{right:3px}
.k-i-close,.k-delete,.k-group-delete{background-position:-32px -16px}
/*end from kendo*/
.titlePanel {
    background: url(/Content/Images/Human_Case_Header.png) repeat-x;
    height: 47px;
    line-height: 46px;
    border: #102541 1px solid;
    padding: 0 20px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
}
.dxpgContainerCell_DevEx,
.dxpgContainerCell_Office2010Blue
{
    background-color: #EEF2F7;
}

.filterTopPanel {
    width: 100%;
    background-color: #afc2da;
    border-spacing:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /*max-width: 1024px !important;*/
}
.vpadding {
    padding-top: 15px;
    padding-bottom: 15px;
}
.filterTopPanel select {
    width: 90%;
}

.mainDiv {
    width: 99%;
    /*max-width: 1024px !important;*/
    min-width: 800px;
}
.k-widget.k-window {
    height: auto!important;
}
.k-widget.k-window,
.k-widget.k-window.k-state-focused {
    border-radius: 8px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-width: 1px;
    border-color: #a0a0a0;
    border-top-color: #202020;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 450px!important;
    min-height: 130px!important;
    height: auto!important;
}
.k-window .k-window-title {
    left: 15px;
}
.k-window .k-window-titlebar.k-header,
.k-window .k-window-titlebar.dxpc-header
 {
    font-size: 16px;
    color: #fff;
    background: url(/Content/Images/heading_for_modal_window.png);
    border-color: #202020;
    border-top-color: #202020!important;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: bold;
}
.k-window .k-window-titlebar.dxpc-header {
    min-height: 28px;
    height: 28px;
    line-height: 26px;
    border-radius: 8px;
    border-radius: 8px;
    padding: 0px;
    padding-bottom: 5px;
}
.k-window-titlebar .dxpc-headerContent span.dx-vam{
    padding-left: 12px!important;
    padding-top: 5px!important;
}
.k-window .k-window-actions {
    display: none;
}
.k-window .k-content {
    border-width: 1px;
    border-color: #202020;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 15px;
}

/*.dxpgControl_DevEx .pivotGrid_SMDIV {
    position: relative;
    width: 50%;
    display: block;
    height: auto;
}*/
.windowButton {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 70px;
    width: 70px;
    background: url(/Content/Images/button.png);
    min-height: 22px;
    max-height: 22px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    color: #102541;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 4px;
}
.k-ie .windowButton {
    border: #85a2c7 1px solid;
}

.imageButton
{
    margin-left: 4px;
    border-radius: 4px;
    /*margin: 0;*/
    background: none;
    border: transparent 1px solid;
    cursor: pointer;
}
.imageButton:hover
{
    border: #ccc 1px solid;
    border-radius: 4px;
}
.buttonMarginLeft
{
    margin-left: 4px;
}
.confirmationText,
.warningText {
    min-height: 50px;
    padding: 10px 10px 15px 60px;
    font-size: 12px;
    color: #262626;
}
.confirmationText {
    background: url(/Content/Images/confirmation_icon.png) no-repeat;
}
.warningText {
    background: url(/Content/Images/exclamation_icon.png) no-repeat;
}
.addButton {
    background: url(/Content/Images/add.png) no-repeat;
}
.editButton {
    background: url(/Content/Images/edit.png) no-repeat;
}
.dxtlHeader_Office2010Blue {
    font-weight: bold !important;
}
tr.dxtlSelectedNode_DevEx td,
tr.dxtlSelectedNode_Office2010Blue td 
{
    background-color: #f7f9df !important;
}
tr.dxtlSelectedNode_DevEx td.dxtlCommandCell_DevEx,
tr.dxtlSelectedNode__Office2010Blue td.dxtlCommandCell__Office2010Blue
{
    background-color: #f7f9df !important;
    color: #f7f9df !important;
}
tr.dxtlNode_Office2010Blue:hover,
tr.dxtlAltNode_Office2010Blue:hover
{
    background-color: #f7f9df!important;
}

tr.selectedNode {
    background-color: #f7f9df!important;
}

.dxtlControl_DevEx a, .dxtlControl_Office2010Blue a, a:visited {
    white-space: nowrap;
    border-collapse: separate;
    color: #201F35 !important;
    font: 11px Verdana,Geneva,sans-serif;
    text-decoration: none !important;
}
a.layoutLink a:visited {
    white-space: nowrap;
    border-collapse: separate;
    color: #201F35 !important;
    font: 11px Verdana,Geneva,sans-serif;
    text-decoration: none !important;
}
a.layoutLink a:hover {
    cursor: pointer;
}

.tabPanelContent.bordered {
    border: 3px solid #173660;
    border-spacing:10px;
    min-height: 100%;
    padding: 2px;
}
.dxpc-header,
.topPanel {
    background-color: #afc2da!important;
    border-spacing:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.topPanel select {
    width: 90%;
}
.topPanel table {
    width: 100%;
}

.level1 {
    padding-left: 8px;
    padding-right: 10px;
    white-space: normal;
    /*table-layout: fixed;*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.level1 .firstLabel {
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 10px;
    white-space: normal;
}

.level1 .secondLabel {
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 10px;
    white-space: normal;
}
.level1 .xsmall
{
	width: 70px;
	min-width: 70px;
	max-width: 70px;
}
.level1 .small
{
	width: 100px;
	min-width: 100px;
	max-width: 100px;
}
.level1 .xmedium
{
	width: 130px;
	min-width: 130px;
	max-width: 130px;
}
.level1 .medium
{
	width: 200px;
	min-width: 200px;
	max-width: 200px;
}

.level1 .mlarge
{
	width: 220px;
	min-width: 220px;
	max-width: 220px;
}

.level1 .large
{
	width: 250px;
	min-width: 250px;
	max-width: 250px;
}

.level1 .xlarge
{
	width: 300px;
	min-width: 300px;
	max-width: 300px;
}

.level1 .ularge
{
	width: 220px;
	min-width: 150px;
	max-width: 250px;
}

.level1 .wide
{
	width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.right
{
    margin: auto;
    margin-right: 0px;
}
.level1 .left
{
    vertical-align: middle;
    text-align:left;
}

.level1 tr[role="row"] {
    border-bottom: #82a1c6 1px solid;
    border-color: #82a1c6;
    border-collapse: collapse;
}

.splitter {
    margin-top: 2px;
    height: 5px;
    border-top: #82a1c6 1px solid;
    border-color: #82a1c6;
    border-collapse: collapse;
    
}
.messageButtons
{
    width: 100%; 
    margin-top: 3px;
}

.questionMessage {
    padding: 0px;
    font-size: 12px;
    background-color: #edf1de;
    border: solid #173660 1px;
    border-radius: 6px;
    color: #181b1f;
    width: 287px;
    max-width: 287px;
}

.questionMessage.dxpc-header
{
    background-color: #d5e0ed;
    color: #262626;
    box-sizing: border-box; 
}

.dxpc-contentWrapper div.dxpc-content {
   padding:0px;
}

.requiredField{
    border: #e3676f solid 1px !important;
    background-color: #ffffe3 !important;
}

.smallImageButton
{
    width: 22px;
    min-width: 22px;
    height: 22px;
    min-height: 22px;
    max-height: 22px;
    line-height: 19px;
    padding: 3px 0 0 0;
    border-radius: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}
.smallImageButton:hover
{
    border: #ccc 1px solid;
    padding: 3px 0 0 0;
    border-radius: 4px;
}
.empty
{
    height: 600px;
    min-height: 600px;
    padding: 5px 0;    
    margin: 0;    
}
.topBot
{
    margin-top: 2px;
    margin-bottom: 2px;
}
.clear
{
    clear: both;
}
.dxpcModalBackLite_Office2010Blue {
    background-color: #818181!important;
    opacity: 0.7!important;
}
/*Treelist header*/
.dxtlHeader_Office2010Blue {
background: #c8d6e6!important;    
}

.dxtlControl_Office2010Blue {
    font: 12px Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif!important;
}


.dxpcLite_Office2010Blue .dxpc-header {
    background: #bbcee6 url(/Content/Images/heading_for_modal_window.png)!important;
    border-bottom: 1px solid #909aa6;
    padding: 5px 0 6px 12px;

    min-height: 28px!important;
    height: 28px!important;
    line-height: 26px;
    border-radius: 8px!important;
    padding: 0px;
    padding-bottom: 5px;
    font-size: 16px!important;
    color: #fff;
    background: url(/Content/Images/heading_for_modal_window.png);
    border-color: #202020;
    border-top-color: #202020!important;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-weight: bold;

}
.roundbox {
    border-radius: 8px!important;
    position: relative;
    top: -8px!important;
}
.filterwindow {
    min-width: 800px!important;
}

 .dxpgFilterBuilderButtonArea_Office2010Blue {
     border-top: 0!important;
     background: white!important;
 }

 .published {
     font-weight: bold!important;
 }

 .nowrap {
    white-space: nowrap;    
 }

.gridColumnHeader {
    padding: 3px 0 0 0;
    font-weight: bold!important;
}

.imagecell {
    padding-top: 2px;
    padding-left: 2px;
    width: 18px;
}


/* rtl */
.k-rtl .dxm-ltr .dxm-main, .dxm-ltr .dxm-horizontal ul.dx {
    float: right;
}

.k-rtl .dxpgHeader_Office2010Blue {
    text-align: right;
}

.k-rtl .dxeListBoxItem_Office2010Blue {
    text-align: right;
}

.k-rtl .dxpgRowFieldValue_Office2010Blue {
    border-left-style: solid;
    border-right-style: none;
    text-align: right;
}

.k-rtl .dxpgCell_Office2010Blue {
    text-align: left;
    border-left-style: none;
    border-right-style: solid;
}

.k-rtl .dxRtl.dxpcLite_Office2010Blue .dxpc-header, 
.k-rtl .dxRtl.dxdpLite_Office2010Blue .dxpc-header {
    padding-right: 0px;
    padding-left: inherit;
}

.k-rtl .dxRtl.dxpcLite_Office2010Blue .dxpc-header, 
.k-rtl .dxRtl.dxdpLite_Office2010Blue .dxpc-header {
    padding-right: 0px;
    padding-left: inherit;
}

.k-rtl .k-window-titlebar .dxpc-headerContent span.dx-vam {
    padding-right: 12px !important;
}

.k-rtl .dx-al {
    text-align: right;
}

.k-rtl .dxmLite_Office2010Blue .dxm-item {
    text-align: right;
}

.k-rtl .dxpcLite_Office2010Blue .dxpc-header, 
.k-rtl .dxdpLite_Office2010Blue .dxpc-header {
    padding: 5px 12px 6px 0;
}
.level1 .memo {
    height: 60px;
}
.loader
{
    display: none; 
    z-index: 20002;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter: alpha(opacity=50);
    vertical-align: middle;
    text-align: center;   
    zoom: 1; 
}
.loader .loaderImg 
{ 
    width: 54px;
    height: 55px;
}
.readonlyField {
    background-color: #f2f2f2;
    border-collapse: collapse;
    border: 1px #CCCCCC solid;
}