body
{	
    height: 100%;
    padding: 0;
	margin: 0;    
	border: none;
	color: #696969;
	background-color: #5c87b2;    
	font-family:  Tahoma,Verdana, Arial, "Helvetica Neue", Helvetica, Sans-Serif;	
	font-size: 5mm;
}
a.headerLink
{
    float: right;
    z-index: 1000;
    padding: 3px 6px 0px 0px!important;
    color: #1637a8;
    font-size: 4.5mm;    
}
input[type="password"],
input[type="text"],
input[type="date"],
input[type="number"],
select 
{
    width: 100%;       
    border: 1px solid #CCC;
    font-size: 5mm;
}
input[type="submit"],
input[type="button"]
{
    padding-right: 0px;
    padding-left: 0px;    
    margin: 0px;
    font-size: 5mm;
}
input[type="submit"]:focus, input[type="button"]:focus /*for IE */
{     
    outline : none; /* remove dotted outline on buttons */
}
label
{
    font-size: 5mm;
}
table
{
    width: 100%;    
}
table td 
{
    font-size: 5mm;
}
.searchText {
    padding-right: 20px;
}
ul.searchResults
{    
    height: auto;
    padding: 0px; 
    margin: 0px;    
}
ul.searchResults li
{    
    list-style-type: none;   
    padding: 2px;
    margin: 2mm;    
    border: solid 1px #696969;
}
ul.searchResults li a
{    
    color: #696969;
    text-decoration: none;
}

.content
{         
    height: 100%;
    min-height: 100%;     	
	padding: 5px 10px 5px 10px;    
	background: #fff;   	
}
.defaultContent
{               	
	padding: 5px 10px 5px 10px;    
	background: #fff;   	
}
.defaultWidth
{    
    
}
.defaultHeigth
{    
    height: 380px!important;
}
.errorMessage
{
    padding: 2px 0;
	color: #FF0000;	
    font-weight: bold;
}
.fillAll
{
    width: 100%;
    min-width: 100%;    
}
.footer
{    
    height: 20px;
    min-height: 20px;
    line-height: normal;
    padding: 0 5px;    
    margin: 0 5px;    
	color: #999;    
}
.header,
.title
{
	position: relative;	
	height: 30px;  /* = height of .headerImage */  	
	vertical-align: top;
	padding: 0px;        
    margin: 0px;       
    background-image: url(/Content/images/menubg.png);
    background-repeat: repeat;       
}
.headerImage,
.titleImage
{
    width: 30px; /* = height of .header */
    height: 30px; /* = height of .header */    
    padding: 0px;
    margin: 0 5px 0 0;
}
.headerText
{    
    position: absolute;    
    padding: 0;
    padding-top: 5px;
	margin: 0px;      
	color: #000;    
    font-weight: bold;
    font-size: 4mm;
}
.detailHeader 
{
    min-height: 30px; /* = height of .header */       
    background-color: #a0c5ed;    
}
.detailHeader .headerImage
{
    float: left;
}
.detailHeader div
{
    padding: 5px 0;
	color: #000;    
    font-weight: bold;
    font-size: 4mm;
}
.page
{           
    height: 100%;    
    margin-right: auto;
    margin-left: auto;
}
.requiredField
{
    border: 1px solid #ff0000!important;
    background-color: #ffffe1;
}
.readonlyField
{    
    background-color: #EBEBE4;
}
.smallButton
{    
    font-size: 4mm!important;
}
.titleText
{
    position: absolute;   
    width: 100%;
    padding: 0;
    padding-top: 5px; 
	margin: 0px;      
	color: #000;    
    font-weight: bold;
    font-size: 4mm;    
}
.yScrollable
{
    overflow-y: scroll;    
}
.disabledButton 
{   
    /*background-color: #F0F0F0;    */
}