/* the same with jquery styles */  
.bvGrid
{
    width: 100%!important;
    word-wrap: break-word;
    border: 1px solid #AED0EA; /* = border of jquery tabs */ 
    border-collapse: collapse;     
    color: #2779AA;
    background-color: #fff!important;
    font-size: 3mm!important;       
}
.bvGrid th
{
    padding: 1mm 2mm!important; /* 'important' is required for jquery elements */
    margin: 0px;
    border: 1px solid #AED0EA; /* = border of jquery tabs */ 
    color: #2779AA;    
    background: #D7EBF9 url(images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    font-size: 3mm!important;    
}
.bvGrid tr,
.bvGrid td
{
    overflow:visible;    
    word-wrap: break-word!important;
    padding: 1mm 2mm!important; /* 'important' is required for jquery elements */
    margin: 0px;   
    border: 1px solid #AED0EA; /* = border of tabs */ 
    font-size: 3mm!important;       
}
.bvGrid tr.general 
{
    border: 1px solid #aed0ea; 
    color: #2779aa;  
    background: #d7ebf9 url(images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x;       
    font-size: 3mm!important;
}
.bvGrid tr.alternate 
{    
    border: #dddddd 1px solid;	 
    color: #362b36;	       
    background: url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) #f2f5f7 repeat-x 50% top;		    
    font-size: 3mm!important;
}
.bvGrid tr.selected 
{ 
    color: #fff!important;
    background: #3BAAE3 url(images/ui-bg_glass_50_3baae3_1x400.png) 50% 50% repeat-x;
}