@using bv.common.Configuration
@model eidss.model.Reports.AZ.AFPModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
@if (BaseSettings.TranslationMode){
    <input type='hidden' id='aspclassname' value='@GetType().FullName' />
}

@using (Html.BeginForm())
 {
     @Html.Partial("Common/ExportButtons", Model)
     <div class="bluelayout">
         <div class="tabPanelContent">
             @Html.Partial("Common/BaseFilter", Model)
             @Html.Partial("AZ/AFPSurveillanceFilter", Model)
         </div>
     </div>
 }