.page {
    max-width: 4096px;
}

.detailsViewContainer .lfGrid {
    max-width: 10px;
    min-width: 10px;
}

/*.k-menu:after {
    content:'';display:block;height:0;float:inherit;overflow:hidden
}*/

.lfGrid .k-grid-header .k-link {
    font-size: 12px;
    font-weight: bold;
    color: #262626;
    border-color: #82a1c6;
}
.lfGrid .k-grid-header .k-link,
.lfGrid .k-grid-header,
.lfGrid .k-grid-pager {
    background-color: #afc2da;
    background-image: none;
}
.lfGrid,
.lfGrid .k-grid-toolbar,
.lfGrid .k-grid-header,
.lfGrid .k-grid-header .k-header,
.lfGrid .k-grid-content,
.lfGrid .k-grid-pager,
.lfGrid .k-grid-pager .k-link,
.lfGrid .k-grid-pager .k-pager-numbers a,
.lfGrid .k-grid-pager .k-pager-numbers span{
    border-color: #82a1c6;
    color: #262626;
    font-size: 12px;
    background-color: #afc2da;
    background-image: none;
}

.lfGrid .k-grid-header .k-header {
    white-space: inherit;
}

.lfGrid.k-grid {
    border-top: none;
}
.lfGrid .k-grid-toolbar {
    margin: 0 -2px;
    border-bottom: none;
    padding-bottom: 10px;
}
.lfGrid .k-grid-content {
    font-size: 12px;
    background-color: #eef2f7;
    min-height: 200px;
}
.lfGrid .k-grid-content .k-alt {
    background-color: #fff;
}
.lfGrid .k-grid-content tr[role="row"] td,
.lfGrid tr[role="row"] td {
    border-bottom: #82a1c6 1px solid;
    border-color: #82a1c6;
    border-collapse: collapse;
}
.lfGrid .k-grid-content .t-no-data td {
    border-bottom: 0;
}
.lfGrid .k-grid-pager .k-link.k-state-disabled,
.lfGrid .k-grid-pager .k-link {
    padding: 0 3px;
}
.lfGrid .k-grid-pager .k-pager-numbers .k-link,
.lfGrid .k-grid-pager .k-pager-numbers .k-link:hover {
    padding: 0 7px;
}
.lfGrid .k-grid-pager .k-pager-numbers span.k-state-selected {
    background-color: #7395bf;
    color: #fff;
}
.lfGrid .k-grid-header {
    border-top: 1px solid #82a1c6;
}
.lfGrid .k-grid-toolbar {
    text-align: right;
}
.lfGrid .k-grid-toolbar .button {
    margin-left: 4px;
}
.lfGrid .k-grid-toolbar .k-grid-add .k-add {
    display: none;
}
.lfGrid .k-state-selected,
.lfGrid .k-alt.k-state-selected {
    background-color: #f7f989;
}


/* fixing the error of grid column resizing in chrome */
/*.k-rtl .k-grid tr
{
   -webkit-transform: scale3d(1,1,1);
}
.k-rtl .k-grid th,
.k-rtl .k-grid td
{
    -webkit-transform: translateZ(0);
}*/


.k-state-hover>.k-link,.k-other-month.k-state-hover .k-link,div.k-imagebrowser-dropzone em {
    /*color: #676767;*/
    background-color: #a1b8d5;
}