<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.10.0" targetFramework="net40-client" />
  <package id="MSFTCompressionCab" version="1.0.0" targetFramework="net40-client" />
  <package id="WiX" version="3.11.0" targetFramework="net40-client" />
</packages>