<?xml version="1.0" encoding="utf-8" ?>
<UpdateSources>
  <aum Source="Mixed Platforms\">
    <File Name="7z.dll" />
    <File Name="7-zip.dll" />
    <File Name="AUM.Administrator60.exe" />
    <File Name="AUM.Core60.dll" />
    <File Name="AUM.Service60.exe" />
    <File Name="AUM60.exe" />
    <File Name="ICSharpCode.SharpZipLib.dll" />
    <File Name="Interop.TaskSchedulerLib.dll" />
    <File Name="Microsoft.SqlServer.ConnectionInfo.dll" />
    <File Name="Microsoft.SqlServer.ConnectionInfoExtended.dll" />
    <File Name="Microsoft.SqlServer.Dmf.Adapters.dll" />
    <File Name="Microsoft.SqlServer.Dmf.dll" />
    <File Name="Microsoft.SqlServer.Management.Collector.dll" />
    <File Name="Microsoft.SqlServer.Management.CollectorEnum.dll" />
    <File Name="Microsoft.SqlServer.Management.Sdk.Sfc.dll" />
    <File Name="Microsoft.SqlServer.PolicyEnum.dll" />
    <File Name="Microsoft.SqlServer.RegSvrEnum.dll" />
    <File Name="Microsoft.SqlServer.ServiceBrokerEnum.dll" />
    <File Name="Microsoft.SqlServer.Smo.dll" />
    <File Name="Microsoft.SqlServer.SmoExtended.dll" />
    <File Name="Microsoft.SqlServer.SqlEnum.dll" />
    <File Name="Microsoft.SqlServer.SqlWmiManagement.dll" />
    <File Name="Microsoft.SqlServer.SString.dll" />
    <File Name="Microsoft.SqlServer.WmiEnum.dll" />
    <File Name="SevenZipSharp.dll" />
    <File Name="TaskScheduler.dll" />
    <File Name="XPatchesLauncher.exe" />
    <File Name="XPatchIntrfaces.dll" />
    <Folder Name="az-Latn-AZ" />
    <Folder Name="ka-GE" />
    <Folder Name="kk-KZ" />
    <Folder Name="ru-RU" />
    <Folder Name="uk-UA" />
  </aum>
  <avrs>
    <File Name="BLToolkit.4.dll" />
    <File Name="bv.common.dll" />
    <File Name="bv.model.dll" />
    <File Name="bv.winclient.dll" />
    <File Name="bvdb_common.dll" />
    <File Name="bvwin_common.dll" />
    <File Name="bv_common.dll" />
    <File Name="Eidss.Avr.Autotester.exe" Source="ThirdPartyComponents\Eidss.Avr.Autotester.exe " />
    <File Name="eidss.avr.dll" />
    <File Name="eidss.avr.service.exe" />
    <File Name="eidss.avr_db.dll" />
    <File Name="eidss.core.dll" />
    <File Name="EIDSS.FlexibleForms.dll" />
    <File Name="eidss.model.dll" />
    <File Name="eidss.winclient.dll" />
    <File Name="eidss_common.dll" />
    <File Name="eidss_db.dll" />
    <File Name="eidss_forms.dll" />

    <File Name="DevExpress.Charts.v15.1.Core.dll" />
    <File Name="DevExpress.Data.v15.1.dll" />
    <File Name="DevExpress.PivotGrid.v15.1.Core.dll" />
    <File Name="DevExpress.Printing.v15.1.Core.dll" />
    <File Name="DevExpress.Utils.v15.1.dll" />
    <File Name="DevExpress.XtraBars.v15.1.dll" />
    <File Name="DevExpress.XtraCharts.v15.1.dll" />
    <File Name="DevExpress.XtraCharts.v15.1.UI.dll" />
    <File Name="DevExpress.XtraCharts.v15.1.Wizard.dll" />
    <File Name="DevExpress.XtraEditors.v15.1.dll" />
    <File Name="DevExpress.XtraGrid.v15.1.dll" />
    <File Name="DevExpress.XtraNavBar.v15.1.dll" />
    <File Name="DevExpress.XtraPivotGrid.v15.1.dll" />
    <File Name="DevExpress.XtraPrinting.v15.1.dll" />
    <File Name="DevExpress.XtraReports.v15.1.dll" />
    <File Name="DevExpress.XtraTreeList.v15.1.dll" />
    
    <File Name="AVRLoggingConfiguration.config" />
    <File Name="Microsoft.Practices.EnterpriseLibrary.Common.dll" />
    <File Name="Microsoft.Practices.EnterpriseLibrary.Data.dll" />
    <File Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" />
    <File Name="Microsoft.Practices.EnterpriseLibrary.Logging.dll" />
    <File Name="Microsoft.Practices.ServiceLocation.dll" />
    <File Name="Microsoft.Practices.Unity.dll" />
    <File Name="Microsoft.Practices.Unity.Interception.dll" />
    <File Name="StructureMap.dll" />
    <File Name="StructureMap.Net4.dll" />

    <File Name="ar-IQ\bv.common.resources.dll" />
    <File Name="ar-IQ\bv.winclient.resources.dll" />
    <File Name="ar-IQ\bvwin_common.resources.dll" />
    <File Name="ar-IQ\eidss.avr.resources.dll" />
    <File Name="ar-IQ\eidss.core.resources.dll" />
    <File Name="ar-IQ\EIDSS.FlexibleForms.resources.dll" />
    <File Name="ar-IQ\eidss.winclient.resources.dll" />
    <File Name="ar-IQ\eidss_forms.resources.dll" />

    <File Name="az-Latn-AZ\bv.common.resources.dll" />
    <File Name="az-Latn-AZ\bv.winclient.resources.dll" />
    <File Name="az-Latn-AZ\bvwin_common.resources.dll" />
    <File Name="az-Latn-AZ\eidss.avr.resources.dll" />
    <File Name="az-Latn-AZ\eidss.core.resources.dll" />
    <File Name="az-Latn-AZ\EIDSS.FlexibleForms.resources.dll" />
    <File Name="az-Latn-AZ\eidss.winclient.resources.dll" />
    <File Name="az-Latn-AZ\eidss_forms.resources.dll" />

    <File Name="en-IQ-Eidss\bv.common.resources.dll" />
    <File Name="en-IQ-Eidss\eidss.core.resources.dll" />
    <File Name="en-IQ-Eidss\eidss.winclient.resources.dll" />
    <File Name="en-IQ-Eidss\eidss_forms.resources.dll" />

    <File Name="hy-AM\bv.common.resources.dll" />
    <File Name="hy-AM\bv.winclient.resources.dll" />
    <File Name="hy-AM\bvwin_common.resources.dll" />
    <File Name="hy-AM\eidss.avr.resources.dll" />
    <File Name="hy-AM\eidss.core.resources.dll" />
    <File Name="hy-AM\EIDSS.FlexibleForms.resources.dll" />
    <File Name="hy-AM\eidss.winclient.resources.dll" />
    <File Name="hy-AM\eidss_forms.resources.dll" />

    <File Name="ka-GE\bv.common.resources.dll" />
    <File Name="ka-GE\bv.winclient.resources.dll" />
    <File Name="ka-GE\bvwin_common.resources.dll" />
    <File Name="ka-GE\eidss.avr.resources.dll" />
    <File Name="ka-GE\eidss.core.resources.dll" />
    <File Name="ka-GE\EIDSS.FlexibleForms.resources.dll" />
    <File Name="ka-GE\eidss.winclient.resources.dll" />
    <File Name="ka-GE\eidss_forms.resources.dll" />

    <File Name="kk-KZ\bv.common.resources.dll" />
    <File Name="kk-KZ\bv.winclient.resources.dll" />
    <File Name="kk-KZ\bvwin_common.resources.dll" />
    <File Name="kk-KZ\eidss.avr.resources.dll" />
    <File Name="kk-KZ\eidss.core.resources.dll" />
    <File Name="kk-KZ\EIDSS.FlexibleForms.resources.dll" />
    <File Name="kk-KZ\eidss.winclient.resources.dll" />
    <File Name="kk-KZ\eidss_forms.resources.dll" />

    <File Name="ru-KZ-Eidss\bv.common.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss.core.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss.winclient.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss_forms.resources.dll" />

    <File Name="ru-RU\bv.common.resources.dll" />
    <File Name="ru-RU\bv.winclient.resources.dll" />
    <File Name="ru-RU\bvwin_common.resources.dll" />
    <File Name="ru-RU\eidss.avr.resources.dll" />
    <File Name="ru-RU\eidss.core.resources.dll" />
    <File Name="ru-RU\EIDSS.FlexibleForms.resources.dll" />
    <File Name="ru-RU\eidss.winclient.resources.dll" />
    <File Name="ru-RU\eidss_forms.resources.dll" />

    <File Name="uk-UA\bv.common.resources.dll" />
    <File Name="uk-UA\bv.winclient.resources.dll" />
    <File Name="uk-UA\bvwin_common.resources.dll" />
    <File Name="uk-UA\eidss.avr.resources.dll" />
    <File Name="uk-UA\eidss.core.resources.dll" />
    <File Name="uk-UA\EIDSS.FlexibleForms.resources.dll" />
    <File Name="uk-UA\eidss.winclient.resources.dll" />
    <File Name="uk-UA\eidss_forms.resources.dll" />
  </avrs>
  <db Source="..\Sources\DB.Manager\EIDSS.DB.Manager\Scripts\">
    <Folder Name="." Recursive="false" />
  </db>
  <dba Source="..\Sources\DB.Manager\EIDSS.DB.Manager\Scripts\">
    <Folder Name="." Recursive="false" />
  </dba>
  <dbavr Source="..\Sources\DB.Manager\EIDSS.DB.Manager\Scripts\AVRServiceDBScripts\">
    <Folder Name="." />
  </dbavr>
  <e>
    <File Name="BLToolkit.4.dll" />
    <File Name="bv.common.dll" />
    <File Name="bv.model.dll" />
    <File Name="bv.winclient.dll" />
    <File Name="bvdb_common.dll" />
    <File Name="bvwin_common.dll" />
    <File Name="bv_common.dll" />
    <File Name="EIDSS.AVR.dll" />
    <File Name="eidss.avr.export.x64.exe" />
    <File Name="eidss.avr.export.x86.exe" />
    <File Name="EIDSS.AVR_DB.dll" />
    <File Name="eidss.core.dll" />
    <File Name="eidss.model.customization.dll" />
    <File Name="eidss.model.customization.dll.config" />
    <File Name="EIDSS.FlexibleForms.dll" />
    <File Name="eidss.gis.common.dll" />
    <File Name="eidss.gis.dll" />
    <File Name="eidss.main.exe" />
    <File Name="eidss.main.exe.config" Source="..\Sources\EIDSS\EIDSS.Setup\Source_Files\eidss.main.exe.config" />
    <File Name="eidss.model.dll" />
    <File Name="eidss.remoting.dll" />
    <File Name="EIDSS.Reports.dll" />
    <File Name="eidss.skin.dll" />
    <File Name="eidss.winclient.dll" />
    <File Name="eidss_admin.dll" />
    <File Name="eidss_admin_db.dll" />
    <File Name="EIDSS_ClientAgent.exe" />
    <File Name="eidss_common.dll" />
    <File Name="eidss_db.dll" />
    <File Name="eidss_forms.dll" />
    <File Name="eidss_human.dll" />
    <File Name="eidss_human_db.dll" />
    <File Name="eidss_lims.dll" />
    <File Name="eidss_lims_db.dll" />
    <File Name="EIDSS_ObjectAccess.dll" />
    <File Name="eidss_vet.dll" />
    <File Name="eidss_vet_db.dll" />
    <File Name="GeospatialServices.dll" />
    <File Name="GISControl.dll" />
    <File Name="GIS_V6.dll" />

    <File Name="Microsoft.Practices.EnterpriseLibrary.Common.dll" />
    <File Name="Microsoft.Practices.EnterpriseLibrary.Data.dll" />
    <File Name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" />
    <File Name="Microsoft.Practices.EnterpriseLibrary.Logging.dll" />
    <File Name="Microsoft.Practices.ServiceLocation.dll" />
    <File Name="Microsoft.Practices.Unity.dll" />
    <File Name="Microsoft.Practices.Unity.Interception.dll" />
    <File Name="StructureMap.dll" />
    <File Name="StructureMap.Net4.dll" />

    <File Name="DevExpress.Charts.v15.1.Core.dll" />
    <File Name="DevExpress.CodeParser.v15.1.dll" />
    <File Name="DevExpress.Data.v15.1.dll" />
    <File Name="DevExpress.Office.v15.1.Core.dll" />
    <File Name="DevExpress.PivotGrid.v15.1.Core.dll" />
    <File Name="DevExpress.Printing.v15.1.Core.dll" />
    <File Name="DevExpress.RichEdit.v15.1.Core.dll" />
    <File Name="DevExpress.Sparkline.v15.1.Core.dll" />
    <File Name="DevExpress.Utils.v15.1.dll" />
    <File Name="DevExpress.Utils.v15.1.UI.dll" />
    <File Name="DevExpress.Web.ASPxPivotGrid.v15.1.dll" />
    <File Name="DevExpress.Web.v15.1.dll" />
    <File Name="DevExpress.XtraBars.v15.1.dll" />
    <File Name="DevExpress.XtraCharts.v15.1.dll" />
    <File Name="DevExpress.XtraCharts.v15.1.UI.dll" />
    <File Name="DevExpress.XtraCharts.v15.1.Web.dll" />
    <File Name="DevExpress.XtraCharts.v15.1.Wizard.dll" />
    <File Name="DevExpress.XtraEditors.v15.1.dll" />
    <File Name="DevExpress.XtraGrid.v15.1.dll" />
    <File Name="DevExpress.XtraLayout.v15.1.dll" />
    <File Name="DevExpress.XtraNavBar.v15.1.dll" />
    <File Name="DevExpress.XtraPivotGrid.v15.1.dll" />
    <File Name="DevExpress.XtraPrinting.v15.1.dll" />
    <File Name="DevExpress.XtraReports.v15.1.dll" />
    <File Name="DevExpress.XtraReports.v15.1.Extensions.dll" />
    <File Name="DevExpress.XtraRichEdit.v15.1.dll" />
    <File Name="DevExpress.XtraTreeList.v15.1.dll" />
    <File Name="DevExpress.XtraVerticalGrid.v15.1.dll" />
    
    <File Name="ar-IQ\bv.common.resources.dll" />
    <File Name="ar-IQ\bv.winclient.resources.dll" />
    <File Name="ar-IQ\bvwin_common.resources.dll" />
    <File Name="ar-IQ\eidss.avr.resources.dll" />
    <File Name="ar-IQ\eidss.core.resources.dll" />
    <File Name="ar-IQ\EIDSS.FlexibleForms.resources.dll" />
    <File Name="ar-IQ\eidss.gis.resources.dll" />
    <File Name="ar-IQ\eidss.main.resources.dll" />
    <File Name="ar-IQ\EIDSS.Reports.resources.dll" />
    <File Name="ar-IQ\eidss.winclient.resources.dll" />
    <File Name="ar-IQ\eidss_admin.resources.dll" />
    <File Name="ar-IQ\EIDSS_ClientAgent.resources.dll" />
    <File Name="ar-IQ\eidss_forms.resources.dll" />
    <File Name="ar-IQ\eidss_human.resources.dll" />
    <File Name="ar-IQ\eidss_lims.resources.dll" />
    <File Name="ar-IQ\EIDSS_ObjectAccess.resources.dll" />
    <File Name="ar-IQ\eidss_vet.resources.dll" />
    <File Name="ar-IQ\GIS_V6.resources.dll" />

    <File Name="az-Latn-AZ\bv.common.resources.dll" />
    <File Name="az-Latn-AZ\bv.winclient.resources.dll" />
    <File Name="az-Latn-AZ\bvwin_common.resources.dll" />
    <File Name="az-Latn-AZ\eidss.avr.resources.dll" />
    <File Name="az-Latn-AZ\eidss.core.resources.dll" />
    <File Name="az-Latn-AZ\EIDSS.FlexibleForms.resources.dll" />
    <File Name="az-Latn-AZ\eidss.gis.resources.dll" />
    <File Name="az-Latn-AZ\eidss.main.resources.dll" />
    <File Name="az-Latn-AZ\EIDSS.Reports.resources.dll" />
    <File Name="az-Latn-AZ\eidss.winclient.resources.dll" />
    <File Name="az-Latn-AZ\eidss_admin.resources.dll" />
    <File Name="az-Latn-AZ\EIDSS_ClientAgent.resources.dll" />
    <File Name="az-Latn-AZ\eidss_forms.resources.dll" />
    <File Name="az-Latn-AZ\eidss_human.resources.dll" />
    <File Name="az-Latn-AZ\eidss_lims.resources.dll" />
    <File Name="az-Latn-AZ\EIDSS_ObjectAccess.resources.dll" />
    <File Name="az-Latn-AZ\eidss_vet.resources.dll" />
    <File Name="az-Latn-AZ\GIS_V6.resources.dll" />

    <File Name="en-IQ-Eidss\bv.common.resources.dll" />
    <File Name="en-IQ-Eidss\eidss.core.resources.dll" />
    <File Name="en-IQ-Eidss\eidss.gis.resources.dll" />
    <File Name="en-IQ-Eidss\EIDSS.Reports.resources.dll" />
    <File Name="en-IQ-Eidss\eidss.winclient.resources.dll" />
    <File Name="en-IQ-Eidss\eidss_admin.resources.dll" />
    <File Name="en-IQ-Eidss\EIDSS_ClientAgent.resources.dll" />
    <File Name="en-IQ-Eidss\eidss_forms.resources.dll" />
    <File Name="en-IQ-Eidss\eidss_human.resources.dll" />
    <File Name="en-IQ-Eidss\eidss_lims.resources.dll" />
    <File Name="en-IQ-Eidss\eidss_vet.resources.dll" />

    <File Name="hy-AM\bv.common.resources.dll" />
    <File Name="hy-AM\bv.winclient.resources.dll" />
    <File Name="hy-AM\bvwin_common.resources.dll" />
    <File Name="hy-AM\eidss.avr.resources.dll" />
    <File Name="hy-AM\eidss.core.resources.dll" />
    <File Name="hy-AM\EIDSS.FlexibleForms.resources.dll" />
    <File Name="hy-AM\eidss.gis.resources.dll" />
    <File Name="hy-AM\eidss.main.resources.dll" />
    <File Name="hy-AM\EIDSS.Reports.resources.dll" />
    <File Name="hy-AM\eidss.winclient.resources.dll" />
    <File Name="hy-AM\eidss_admin.resources.dll" />
    <File Name="hy-AM\EIDSS_ClientAgent.resources.dll" />
    <File Name="hy-AM\eidss_forms.resources.dll" />
    <File Name="hy-AM\eidss_human.resources.dll" />
    <File Name="hy-AM\eidss_lims.resources.dll" />
    <File Name="hy-AM\EIDSS_ObjectAccess.resources.dll" />
    <File Name="hy-AM\eidss_vet.resources.dll" />
    <File Name="hy-AM\GIS_V6.resources.dll" />

    <File Name="ka-GE\bv.common.resources.dll" />
    <File Name="ka-GE\bv.winclient.resources.dll" />
    <File Name="ka-GE\bvwin_common.resources.dll" />
    <File Name="ka-GE\eidss.avr.resources.dll" />
    <File Name="ka-GE\eidss.core.resources.dll" />
    <File Name="ka-GE\EIDSS.FlexibleForms.resources.dll" />
    <File Name="ka-GE\eidss.gis.resources.dll" />
    <File Name="ka-GE\eidss.main.resources.dll" />
    <File Name="ka-GE\EIDSS.Reports.resources.dll" />
    <File Name="ka-GE\eidss.winclient.resources.dll" />
    <File Name="ka-GE\eidss_admin.resources.dll" />
    <File Name="ka-GE\EIDSS_ClientAgent.resources.dll" />
    <File Name="ka-GE\eidss_forms.resources.dll" />
    <File Name="ka-GE\eidss_human.resources.dll" />
    <File Name="ka-GE\eidss_lims.resources.dll" />
    <File Name="ka-GE\EIDSS_ObjectAccess.resources.dll" />
    <File Name="ka-GE\eidss_vet.resources.dll" />
    <File Name="ka-GE\GIS_V6.resources.dll" />

    <File Name="kk-KZ\bv.common.resources.dll" />
    <File Name="kk-KZ\bv.winclient.resources.dll" />
    <File Name="kk-KZ\bvwin_common.resources.dll" />
    <File Name="kk-KZ\eidss.avr.resources.dll" />
    <File Name="kk-KZ\eidss.core.resources.dll" />
    <File Name="kk-KZ\EIDSS.FlexibleForms.resources.dll" />
    <File Name="kk-KZ\eidss.gis.resources.dll" />
    <File Name="kk-KZ\eidss.main.resources.dll" />
    <File Name="kk-KZ\EIDSS.Reports.resources.dll" />
    <File Name="kk-KZ\eidss.winclient.resources.dll" />
    <File Name="kk-KZ\eidss_admin.resources.dll" />
    <File Name="kk-KZ\EIDSS_ClientAgent.resources.dll" />
    <File Name="kk-KZ\eidss_forms.resources.dll" />
    <File Name="kk-KZ\eidss_human.resources.dll" />
    <File Name="kk-KZ\eidss_lims.resources.dll" />
    <File Name="kk-KZ\EIDSS_ObjectAccess.resources.dll" />
    <File Name="kk-KZ\eidss_vet.resources.dll" />
    <File Name="kk-KZ\GIS_V6.resources.dll" />

    <File Name="ru-KZ-Eidss\bv.common.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss.core.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss.gis.resources.dll" />
    <File Name="ru-KZ-Eidss\EIDSS.Reports.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss.winclient.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss_admin.resources.dll" />
    <File Name="ru-KZ-Eidss\EIDSS_ClientAgent.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss_forms.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss_human.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss_lims.resources.dll" />
    <File Name="ru-KZ-Eidss\eidss_vet.resources.dll" />

    <File Name="ru-RU\bv.common.resources.dll" />
    <File Name="ru-RU\bv.winclient.resources.dll" />
    <File Name="ru-RU\bvwin_common.resources.dll" />
    <File Name="ru-RU\eidss.avr.resources.dll" />
    <File Name="ru-RU\eidss.core.resources.dll" />
    <File Name="ru-RU\EIDSS.FlexibleForms.resources.dll" />
    <File Name="ru-RU\eidss.gis.resources.dll" />
    <File Name="ru-RU\eidss.main.resources.dll" />
    <File Name="ru-RU\EIDSS.Reports.resources.dll" />
    <File Name="ru-RU\eidss.winclient.resources.dll" />
    <File Name="ru-RU\eidss_admin.resources.dll" />
    <File Name="ru-RU\EIDSS_ClientAgent.resources.dll" />
    <File Name="ru-RU\eidss_forms.resources.dll" />
    <File Name="ru-RU\eidss_human.resources.dll" />
    <File Name="ru-RU\eidss_lims.resources.dll" />
    <File Name="ru-RU\EIDSS_ObjectAccess.resources.dll" />
    <File Name="ru-RU\eidss_vet.resources.dll" />
    <File Name="ru-RU\GIS_V6.resources.dll" />

    <File Name="uk-UA\bv.common.resources.dll" />
    <File Name="uk-UA\bv.winclient.resources.dll" />
    <File Name="uk-UA\bvwin_common.resources.dll" />
    <File Name="uk-UA\eidss.avr.resources.dll" />
    <File Name="uk-UA\eidss.core.resources.dll" />
    <File Name="uk-UA\EIDSS.FlexibleForms.resources.dll" />
    <File Name="uk-UA\eidss.gis.resources.dll" />
    <File Name="uk-UA\eidss.main.resources.dll" />
    <File Name="uk-UA\EIDSS.Reports.resources.dll" />
    <File Name="uk-UA\eidss.winclient.resources.dll" />
    <File Name="uk-UA\eidss_admin.resources.dll" />
    <File Name="uk-UA\EIDSS_ClientAgent.resources.dll" />
    <File Name="uk-UA\eidss_forms.resources.dll" />
    <File Name="uk-UA\eidss_human.resources.dll" />
    <File Name="uk-UA\eidss_lims.resources.dll" />
    <File Name="uk-UA\EIDSS_ObjectAccess.resources.dll" />
    <File Name="uk-UA\eidss_vet.resources.dll" />
    <File Name="uk-UA\GIS_V6.resources.dll" />


    <File Name="MapProjects\Default.KZ.map" />
    <File Name="MapProjects\Default.map" />
    
    <Folder Name="Paper Forms" />
    <Folder Name="Help\en" Source="Setup\Mixed Platforms\Help\Setup.EIDSS.Desktop\en" />
    <Folder Name="Help\ru" Source="Setup\Mixed Platforms\Help\Setup.EIDSS.Desktop\ru" />
  </e>
  <ns>
    <File Name="BLToolkit.4.dll" />
    <File Name="bv.common.dll" />
    <File Name="bv.model.dll" />
    <File Name="bvdb_common.dll" />
    <File Name="bv_common.dll" />
    <File Name="eidss.core.dll" />
    <File Name="eidss.model.dll" />
    <File Name="EIDSS60_Ntfy.exe" />
    <File Name="eidss_common.dll" />
    <File Name="eidss_db.dll" />
    <File Name="TaskScheduler.dll" />
  </ns>
  <x Source="Mixed Platforms\">
    <File Name="XPatchesLauncher.exe.config" />
    <File Name="InstallFonts.dll" />
    <File Name="RightsAndPermissionsForDesktop.dll" />
    <File Name="UpdateAvrFilter.dll" />
    <File Name="IDAutomationC128S.ttf" />
    <File Name="IDAutomationC128XS.ttf" />
    <File Name="SetNewDownloadStrategy.dll" />
    <File Name="UpdateAvrLoggingConfig.dll" />
  </x>
</UpdateSources>