<?xml version="1.0" encoding="UTF-8"?>

<?include "$(var.ProjectDir)ProductInfo.wxi" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment Id="Service Account">
    <Property Id="ENCRYPTED_SERVICE_ACCOUNT_NAME" Secure="yes" Hidden="yes">
      <RegistrySearch Id="SERVICE_ACCOUNT_NAME.RS" Root="HKLM" Key="$(var.ProductRegistryKey)" Name="ServiceAccount" Type="raw" />
    </Property>
    <Property Id="ENCRYPTED_SERVICE_ACCOUNT_PASSWORD" Secure="yes" Hidden="yes">
      <RegistrySearch Id="SERVICE_ACCOUNT_PASSWORD.RS" Root="HKLM" Key="$(var.ProductRegistryKey)" Name="ServiceAccountPassword" Type="raw" />
    </Property>

    <Property Id="SERVICE_ACCOUNT_NAME" Secure="yes" Hidden="yes" Value="IIs_Service" />
    <Property Id="SERVICE_ACCOUNT_DOMAIN" Secure="yes" Hidden="yes" />
    <Property Id="SERVICE_ACCOUNT_PASSWORD" Secure="yes" Hidden="yes" />

    <SetProperty Id="SERVICE_ACCOUNT_DOMAIN" Value="[ComputerName]" After="AppSearch" />

    <CustomAction Id="DecryptServiceAccountDetails" DllEntry="DecryptServiceAccountDetails" BinaryKey="CustomActions" Execute="firstSequence" />
    <CustomAction Id="EncryptServiceAccountDetails" DllEntry="EncryptServiceAccountDetails" BinaryKey="CustomActions" />

    <InstallUISequence>
      <Custom Action="DecryptServiceAccountDetails" After="AppSearch">Not REMOVE~="ALL" And ENCRYPTED_SERVICE_ACCOUNT_NAME And ENCRYPTED_SERVICE_ACCOUNT_PASSWORD</Custom>
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="DecryptServiceAccountDetails" After="AppSearch">Not REMOVE~="ALL" And ENCRYPTED_SERVICE_ACCOUNT_NAME And ENCRYPTED_SERVICE_ACCOUNT_PASSWORD</Custom>
      <Custom Action="EncryptServiceAccountDetails" Before="ProcessComponents">Not REMOVE~="ALL" And SERVICE_ACCOUNT_NAME And SERVICE_ACCOUNT_PASSWORD</Custom>
    </InstallExecuteSequence>

    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="ServiceAccount" MultiInstance="yes">
        <RegistryKey Root="HKLM" Key="$(var.ProductRegistryKey)">
          <RegistryValue Name="ServiceAccount" Value="[ENCRYPTED_SERVICE_ACCOUNT_NAME]" Type="string" KeyPath="yes" />
          <RegistryValue Name="ServiceAccountPassword" Value="[ENCRYPTED_SERVICE_ACCOUNT_PASSWORD]" Type="string" />
        </RegistryKey>
        <util:User
          Id="ServiceAccount"
          Domain="[SERVICE_ACCOUNT_DOMAIN]"
          Name="[SERVICE_ACCOUNT_NAME]"
          Password="[SERVICE_ACCOUNT_PASSWORD]"
          LogonAsService="yes"
          CreateUser="yes"
          UpdateIfExists="yes"
          RemoveOnUninstall="no"
          CanNotChangePassword="yes"
          PasswordNeverExpires="yes">
        </util:User>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>