<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment Id="Translations">
    <DirectoryRef Id="CommonAppData.Translations">
      <Component
        Id="CommonAppData.Translations.Folder"
        Guid="{8231888B-9353-4057-AF20-8DD3AE4FF74F}"
        KeyPath="yes"
        MultiInstance="yes">

        <CreateFolder>
          <util:PermissionEx
            Domain="[SERVICE_ACCOUNT_DOMAIN]"
            User="[SERVICE_ACCOUNT_NAME]"
            CreateChild="yes"
            CreateFile="yes"
            GenericExecute="yes"
            GenericRead="yes"
            GenericWrite="yes"
            Traverse="yes"
            Read="yes" />
        </CreateFolder>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>