<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    <add key="WarnIfResourceEmpty" value="true" />
    
    <add key="SQLUser" value="MVN4akksitVK64gNWlzJ7w==" />
    <add key="SQLPassword" value="W/nsgbXLJBBi93z0OXlnsQ==" />
    <add key="SQLDatabase" value="eidss_v5" />
    <add key="SQLServer" value="(local)" />
    
    <add key="AvrVirtualDirectoryName" value="AVR" />
    <add key="MapLocalUrl" value="http://gis.bv.ru/ogs/cache/google/OsmGeorgia/{z}/{x}/{y}.png" />
    <add key="ReportServiceHostURL" value="http://localhost:8098/" />
    <add key="ServiceSystemName" value="EIDSSReportsService_v5" />
    <add key="ServiceDisplayName" value="EIDSS Reports Service version 5" />
    
    <add key="ErrorLogPath" value="C:\MyProjects\EIDSS\DevelopersBranch\eidss.webclient\ErrorLogs" />
    
    <add key="SupportedLanguages" value="en,ru,ka,kk,uz-C,uz-L,az-L,hy,uk,ar" />
    <add key="DefaultLanguage" value="en" />
      
    <add key="ArchiveConnectionString" value="Persist Security Info=False;User ID={0};Password={1};Initial Catalog={2};Data Source={3};Asynchronous Processing=True;" />
    <add key="ArchiveUser" value="" />
    <add key="ArchivePassword" value="" />
    <add key="ArchiveDatabase" value="" />
    <add key="ArchiveServer" value="" />

    -->
  </appSettings>
</configuration>
