<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for EIDSS_Common.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug Reports (Any CPU)&quot; configuration in project &quot;C:\Mike\Projects\EIDSS_V4_VB\EIDSS\EIDSS_Common\EIDSS_Common.vbproj&quot;." ToolsVersion="10.0">
  <RuleHintPaths>
    <Path>\rules</Path>
  </RuleHintPaths>
</RuleSet>