<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="AVRServiceHostURL" value="http://localhost:8071/" />
  </appSettings>

  <system.serviceModel>
    <bindings>

      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAVRFacade" closeTimeout="00:03:00"
                 openTimeout="00:10:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
                 allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                 textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                 messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8071/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAVRFacade" contract="AvrServiceClient.IAVRFacade"
                name="BasicHttpBinding_IAVRFacade" />
    </client>
  </system.serviceModel>

</configuration>